.avia-section.av-mochze6z-4f66681c82ffdac9f55e5a109884a856{
background-repeat:no-repeat;
background-image:url(../../2026/04/玻璃瓶.jpg);
background-position:50% 100%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-tp2hgb-655ca3fdb68d0caf5014015af45b20d5{
height:380px;
}

#top .av-special-heading.av-pyb0ob-e2861c304d34db7defbfe4fa8f72fc2b{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-pyb0ob-e2861c304d34db7defbfe4fa8f72fc2b .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-pyb0ob-e2861c304d34db7defbfe4fa8f72fc2b .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-pyb0ob-e2861c304d34db7defbfe4fa8f72fc2b .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-pyb0ob-e2861c304d34db7defbfe4fa8f72fc2b .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-mexr8b-6f8ebce15ec99cb6a711982fcc84ffd7{
vertical-align:top;
background-color:#e9d4bd;
background:linear-gradient( to bottom, #e9d4bd, #e4c9b9, #e4c9b9 );
}
.responsive #top #wrap_all .flex_cell.av-mexr8b-6f8ebce15ec99cb6a711982fcc84ffd7{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-hffzrv-5e433aad3a259d79435a523a54686a28{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-hffzrv-5e433aad3a259d79435a523a54686a28 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-hffzrv-5e433aad3a259d79435a523a54686a28 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-hffzrv-5e433aad3a259d79435a523a54686a28 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-hffzrv-5e433aad3a259d79435a523a54686a28 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-faosgr-717a6bef6faa6e7b9a5e8ad0a17d410f{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-faosgr-717a6bef6faa6e7b9a5e8ad0a17d410f .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-faosgr-717a6bef6faa6e7b9a5e8ad0a17d410f .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-faosgr-717a6bef6faa6e7b9a5e8ad0a17d410f .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-ead4uj-1d16aeeae7fc60d92966e4c1e567e536{
height:50px;
}

.av-horizontal-gallery.av-moci2dkz-b7f89d2e5f1eb991ae54e7f818006e41 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-aupm7v-68a568381bfb58f92e25a6b352c258b7{
height:50px;
}

#top .av-special-heading.av-73xakr-1bc56eadcfd4315c93180759c9a55674{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-73xakr-1bc56eadcfd4315c93180759c9a55674 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-73xakr-1bc56eadcfd4315c93180759c9a55674 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-5wi5ff-52d4b04311569d19a0af68efb1c4b08e{
height:50px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-pyb0ob-e2861c304d34db7defbfe4fa8f72fc2b .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-hffzrv-5e433aad3a259d79435a523a54686a28 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-pyb0ob-e2861c304d34db7defbfe4fa8f72fc2b .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-pyb0ob-e2861c304d34db7defbfe4fa8f72fc2b .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-hffzrv-5e433aad3a259d79435a523a54686a28 .av-special-heading-tag{
font-size:0.8em;
}
}
