.avia-section.av-mocjz02o-e13c32cc992889cffc9613827fc27cc4{
background-repeat:no-repeat;
background-image:url(../../2026/04/玻璃瓶.jpg);
background-position:50% 100%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-rd3q1n-69b274f15bcb556a2e322468d7fbb5e6{
height:380px;
}

#top .av-special-heading.av-o8c0cr-fabf512c14f8ead6eaccb94a90469479{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-o8c0cr-fabf512c14f8ead6eaccb94a90469479 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-o8c0cr-fabf512c14f8ead6eaccb94a90469479 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-o8c0cr-fabf512c14f8ead6eaccb94a90469479 .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-o8c0cr-fabf512c14f8ead6eaccb94a90469479 .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-mocjzhl3-17ce90b665d9720b610fde2a4bb3d7e2{
vertical-align:top;
background-color:#fdf2f7;
}
.responsive #top #wrap_all .flex_cell.av-mocjzhl3-17ce90b665d9720b610fde2a4bb3d7e2{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-gtzqvv-93698d397ba2d833d96801f02e7eb6b4{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-gtzqvv-93698d397ba2d833d96801f02e7eb6b4 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-gtzqvv-93698d397ba2d833d96801f02e7eb6b4 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-gtzqvv-93698d397ba2d833d96801f02e7eb6b4 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-gtzqvv-93698d397ba2d833d96801f02e7eb6b4 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-g3vgkr-ec860470cb78531f989f8fa4d5020085{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-g3vgkr-ec860470cb78531f989f8fa4d5020085 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-g3vgkr-ec860470cb78531f989f8fa4d5020085 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-g3vgkr-ec860470cb78531f989f8fa4d5020085 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-ds29qz-a95543c452509328fdee522252b847ef{
height:250px;
}

#top .hr.hr-invisible.av-moclipnm-9c5546ab2ab4f87c6498e3ec22f11a6d{
margin-top:-10px;
height:1px;
}

.flex_cell.av-moclll8c-e495493668210d37c770fdb404c2a190{
vertical-align:top;
background-color:#fae3ee;
}
.responsive #top #wrap_all .flex_cell.av-moclll8c-e495493668210d37c770fdb404c2a190{
padding:50px 0px 50px 0px !important;
}

#top .hr.hr-invisible.av-moclm4yw-1e9819169a9b2bb423eb7cb845722715{
height:30px;
}

#top .flex_column.av-moclom9f-b79c30d4938195803736dec6bc5799ea{
margin-top:-270px;
margin-bottom:0px;
}
.responsive #top #wrap_all .flex_column.av-moclom9f-b79c30d4938195803736dec6bc5799ea{
margin-top:-270px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-moclncji-507f03c1a36faa945208076f26209e26{
margin-top:-10px;
height:1px;
}

.av-horizontal-gallery.av-ar5g23-d2823cb1521ac3be4bf16e6dcd217954 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-9qnkob-e75a2b5a6d3388bfaca0ffa426b4eccb{
height:50px;
}

#top .av-special-heading.av-5z2qsr-8179c0652ab43ac1d56abe2394af8294{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-5z2qsr-8179c0652ab43ac1d56abe2394af8294 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-5z2qsr-8179c0652ab43ac1d56abe2394af8294 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-42ow97-a8c7f93048227fa709f835c66bf79b86{
height:50px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-o8c0cr-fabf512c14f8ead6eaccb94a90469479 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-gtzqvv-93698d397ba2d833d96801f02e7eb6b4 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-moclom9f-b79c30d4938195803736dec6bc5799ea{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-moclom9f-b79c30d4938195803736dec6bc5799ea{
margin-top:-200px;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-o8c0cr-fabf512c14f8ead6eaccb94a90469479 .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-o8c0cr-fabf512c14f8ead6eaccb94a90469479 .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-gtzqvv-93698d397ba2d833d96801f02e7eb6b4 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-moclom9f-b79c30d4938195803736dec6bc5799ea{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-moclom9f-b79c30d4938195803736dec6bc5799ea{
margin-top:-200px;
}
}
