.avia-section.av-1tv1u2h-7b7438468b55aa9841f7c7693dc18be2{
background-repeat:no-repeat;
background-image:url(../../2026/02/BKE-banner-動物膠囊.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-1r1p01l-6343ec8a42d545ecb9a6b105abc5f8e3{
height:380px;
}

#top .av-special-heading.av-1owr5jd-e7f95795497d4460628f04dc0f6a0ecf{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-1owr5jd-e7f95795497d4460628f04dc0f6a0ecf .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-1owr5jd-e7f95795497d4460628f04dc0f6a0ecf .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-1owr5jd-e7f95795497d4460628f04dc0f6a0ecf .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-1owr5jd-e7f95795497d4460628f04dc0f6a0ecf .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-1lguf49-c459ce7c68355a4212fd75777b9401ec{
vertical-align:top;
background-color:#e7b4ab;
background:linear-gradient( to bottom, #e7b4ab, #ea9d93, #ea9d93 );
}
.responsive #top #wrap_all .flex_cell.av-1lguf49-c459ce7c68355a4212fd75777b9401ec{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-5795g9-f5a7734ca0a7fc7d6911479ff9ff3963{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-5795g9-f5a7734ca0a7fc7d6911479ff9ff3963 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-5795g9-f5a7734ca0a7fc7d6911479ff9ff3963 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-5795g9-f5a7734ca0a7fc7d6911479ff9ff3963 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-5795g9-f5a7734ca0a7fc7d6911479ff9ff3963 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-1f3w6ft-dc8bfe4eab37442b7b3aeffe5f502a7b{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-1f3w6ft-dc8bfe4eab37442b7b3aeffe5f502a7b .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1f3w6ft-dc8bfe4eab37442b7b3aeffe5f502a7b .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-1f3w6ft-dc8bfe4eab37442b7b3aeffe5f502a7b .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-1dk7py1-d7dc29f284afb560850d546a71d9b9f0{
height:50px;
}

.av-horizontal-gallery.av-1a7xill-49e383418f529307d8d272d008dc7619 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-184z1jd-1f3f4bfeac3550c67b5bec0d4ef1af54{
height:50px;
}

#top .av-special-heading.av-14tv295-53210bf245f3610efcf44e22dad14d2c{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-14tv295-53210bf245f3610efcf44e22dad14d2c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-14tv295-53210bf245f3610efcf44e22dad14d2c .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-14tv295-53210bf245f3610efcf44e22dad14d2c .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-14tv295-53210bf245f3610efcf44e22dad14d2c .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-3ykcs9-f2329963d8d87760a399ddd051292790{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-3ykcs9-f2329963d8d87760a399ddd051292790 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3ykcs9-f2329963d8d87760a399ddd051292790 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-3ykcs9-f2329963d8d87760a399ddd051292790 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-11qvfnt-badad8bb069e1da40e01d55c609a513a{
height:50px;
}

.av-horizontal-gallery.av-39ffmh-34f49e1893511d31b4da68ce1df3260c .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .av-special-heading.av-67o0t5-0e5183367bbdc360c3f5fda5a7fbd69f{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-67o0t5-0e5183367bbdc360c3f5fda5a7fbd69f .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-67o0t5-0e5183367bbdc360c3f5fda5a7fbd69f .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-43cgrt-45038c41733a8db2b36895e9cfcd0826{
height:50px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-1owr5jd-e7f95795497d4460628f04dc0f6a0ecf .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-5795g9-f5a7734ca0a7fc7d6911479ff9ff3963 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-14tv295-53210bf245f3610efcf44e22dad14d2c .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-1owr5jd-e7f95795497d4460628f04dc0f6a0ecf .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-1owr5jd-e7f95795497d4460628f04dc0f6a0ecf .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-5795g9-f5a7734ca0a7fc7d6911479ff9ff3963 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-14tv295-53210bf245f3610efcf44e22dad14d2c .av-special-heading-tag{
font-size:0.8em;
}
}
