.avia-section.av-6a9u1yf-8ce66fb1d96ff0983b86bdb9e45d1232{
background-repeat:no-repeat;
background-image:url(../../2025/10/banner-rnd.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

#top .av-special-heading.av-662d5xz-691b29ffcbdf0230e003366f6f93e14d{
padding-bottom:10px;
color:#366d85;
font-size:75px;
}
body .av-special-heading.av-662d5xz-691b29ffcbdf0230e003366f6f93e14d .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-662d5xz-691b29ffcbdf0230e003366f6f93e14d .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-662d5xz-691b29ffcbdf0230e003366f6f93e14d .special-heading-inner-border{
border-color:#366d85;
}
.av-special-heading.av-662d5xz-691b29ffcbdf0230e003366f6f93e14d .av-subheading{
font-size:18px;
color:#3d3a39;
}

.avia-section.av-5vm6n2v-7a7cefdcd732fecc8e54ea5683d6ecb6{
background-color:#2d92a8;
background-image:unset;
}

#top .av-special-heading.av-5s5c98n-2d8d281bc0f8dccb8aa0835a8ca07512{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#c2e4e2;
font-size:58px;
}
body .av-special-heading.av-5s5c98n-2d8d281bc0f8dccb8aa0835a8ca07512 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-5s5c98n-2d8d281bc0f8dccb8aa0835a8ca07512 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-5s5c98n-2d8d281bc0f8dccb8aa0835a8ca07512 .special-heading-inner-border{
border-color:#c2e4e2;
}
.av-special-heading.av-5s5c98n-2d8d281bc0f8dccb8aa0835a8ca07512 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-5q7zgzb-4f04da6f54a0318600f70830e3d5b8eb{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#c2e4e2;
}
body .av-special-heading.av-5q7zgzb-4f04da6f54a0318600f70830e3d5b8eb .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-5q7zgzb-4f04da6f54a0318600f70830e3d5b8eb .special-heading-inner-border{
border-color:#c2e4e2;
}
.av-special-heading.av-5q7zgzb-4f04da6f54a0318600f70830e3d5b8eb .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-5oanz0n-72733a298019d83acd9fa3d7881c72f4{
height:90px;
}

@keyframes av_boxShadowEffect_av-5kr84zb-42bd2529a98295775f7e73991cb775ef-column {
0%   { box-shadow:  0 0 0 0 rgba(243,209,31,0.27); opacity: 1; }
100% { box-shadow:  0 0 10px 0 rgba(243,209,31,0.27); opacity: 1; }
}
#top .flex_column.av-5kr84zb-42bd2529a98295775f7e73991cb775ef{
margin-top:-90px;
}
.flex_column.av-5kr84zb-42bd2529a98295775f7e73991cb775ef{
width:16.8%;
box-shadow: 0 0 10px 0 rgba(243,209,31,0.27);
border-width:5px;
border-color:#2d92a8;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_column.av-5kr84zb-42bd2529a98295775f7e73991cb775ef{
margin-top:-90px;
}

#top .av-special-heading.av-5hc99p3-b176e14bd4d86ee626e07cc7eaa375c4{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-5hc99p3-b176e14bd4d86ee626e07cc7eaa375c4 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-5hc99p3-b176e14bd4d86ee626e07cc7eaa375c4 .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-5hc99p3-b176e14bd4d86ee626e07cc7eaa375c4 .av-subheading{
font-size:15px;
color:#717171;
}

@keyframes av_boxShadowEffect_av-5gmowzb-4d2b936b9d85c892b8448899e19e2a3b-column {
0%   { box-shadow:  0 0 0 0 #f3d11f; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #f3d11f; opacity: 1; }
}
#top .flex_column.av-5gmowzb-4d2b936b9d85c892b8448899e19e2a3b{
margin-top:-90px;
}
.flex_column.av-5gmowzb-4d2b936b9d85c892b8448899e19e2a3b{
width:16.8%;
margin-left:4%;
box-shadow: 0 0 10px 0 #f3d11f;
border-width:5px;
border-color:#2d92a8;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_column.av-5gmowzb-4d2b936b9d85c892b8448899e19e2a3b{
margin-top:-90px;
}

#top .av-special-heading.av-5c6io3r-f3e19a62beeb2a596575555e3ec35970{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-5c6io3r-f3e19a62beeb2a596575555e3ec35970 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-5c6io3r-f3e19a62beeb2a596575555e3ec35970 .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-5c6io3r-f3e19a62beeb2a596575555e3ec35970 .av-subheading{
font-size:15px;
color:#717171;
}

@keyframes av_boxShadowEffect_av-5arze9z-df1487c9811d89e932b2bef7831fafb7-column {
0%   { box-shadow:  0 0 0 0 rgba(243,209,31,0.27); opacity: 1; }
100% { box-shadow:  0 0 10px 0 rgba(243,209,31,0.27); opacity: 1; }
}
#top .flex_column.av-5arze9z-df1487c9811d89e932b2bef7831fafb7{
margin-top:-90px;
}
.flex_column.av-5arze9z-df1487c9811d89e932b2bef7831fafb7{
width:16.8%;
margin-left:4%;
box-shadow: 0 0 10px 0 rgba(243,209,31,0.27);
border-width:5px;
border-color:#2d92a8;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_column.av-5arze9z-df1487c9811d89e932b2bef7831fafb7{
margin-top:-90px;
}

#top .av-special-heading.av-577x21z-9b75ac24ac8f8e5baec75db87bc8f568{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-577x21z-9b75ac24ac8f8e5baec75db87bc8f568 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-577x21z-9b75ac24ac8f8e5baec75db87bc8f568 .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-577x21z-9b75ac24ac8f8e5baec75db87bc8f568 .av-subheading{
font-size:15px;
color:#717171;
}

@keyframes av_boxShadowEffect_av-3y5jw7-aaa9a8a8da6de11bb657117af5d36704-column {
0%   { box-shadow:  0 0 0 0 rgba(243,209,31,0.27); opacity: 1; }
100% { box-shadow:  0 0 10px 0 rgba(243,209,31,0.27); opacity: 1; }
}
#top .flex_column.av-3y5jw7-aaa9a8a8da6de11bb657117af5d36704{
margin-top:-90px;
}
.flex_column.av-3y5jw7-aaa9a8a8da6de11bb657117af5d36704{
width:16.8%;
margin-left:4%;
box-shadow: 0 0 10px 0 rgba(243,209,31,0.27);
border-width:5px;
border-color:#2d92a8;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_column.av-3y5jw7-aaa9a8a8da6de11bb657117af5d36704{
margin-top:-90px;
}

#top .av-special-heading.av-mh36f9ei-028135b2e73e8bb9cbe9a72170490593{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-mh36f9ei-028135b2e73e8bb9cbe9a72170490593 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mh36f9ei-028135b2e73e8bb9cbe9a72170490593 .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-mh36f9ei-028135b2e73e8bb9cbe9a72170490593 .av-subheading{
font-size:15px;
color:#717171;
}

.flex_cell.av-2im70fb-d8b59b68e955c9ac2728b48fbd8a6e96{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-2im70fb-d8b59b68e955c9ac2728b48fbd8a6e96{
padding:50px 50px 50px 50px !important;
}

.flex_cell.av-8q81fr-480a7972f0df0efb3a5078a9bf661fc9{
vertical-align:middle;
background-color:#ec9f1b;
}
.responsive #top #wrap_all .flex_cell.av-8q81fr-480a7972f0df0efb3a5078a9bf661fc9{
padding:50px 50px 50px 50px !important;
}

#top .av-special-heading.av-2a3tk8n-e2a733e51b18001a19f869bea6a72b8f{
margin:0px 0px 0px 0px;
padding-bottom:10px;
font-size:58px;
}
body .av-special-heading.av-2a3tk8n-e2a733e51b18001a19f869bea6a72b8f .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2a3tk8n-e2a733e51b18001a19f869bea6a72b8f .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-2a3tk8n-e2a733e51b18001a19f869bea6a72b8f .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-27l2ghz-0295dc504740a57ec9c71c9a6991badb{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-27l2ghz-0295dc504740a57ec9c71c9a6991badb .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-27l2ghz-0295dc504740a57ec9c71c9a6991badb .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-26nmr5z-fa96f39310df316c4e5485c40464190a .avia_textblock{
font-size:30px;
color:#ffffff;
}

.flex_cell.av-22m477b-4bb472d343c0cf958b82d452cfe07ea1{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-22m477b-4bb472d343c0cf958b82d452cfe07ea1{
padding:50px 0px 50px 0px !important;
}

.flex_column.av-2113ilj-1cb4a62b2b8bc798c725cffb8bd104b9{
padding:30px 30px 30px 30px;
}

.avia-animated-number.av-20qpxiv-663d72ed5fda8ec27ae1fa06295d6898 .avia-animated-number-icon.avia-svg-icon svg:first-child{
fill:#ee7624;
stroke:#ee7624;
}
#top .avia-animated-number.av-20qpxiv-663d72ed5fda8ec27ae1fa06295d6898 .avia-animated-number-title{
font-size:60px;
color:#ee7624;
}
#top .avia-animated-number.av-20qpxiv-663d72ed5fda8ec27ae1fa06295d6898 .avia-animated-number-content{
color:#444444;
}

.flex_column.av-1xyp3w7-08c32a72adb8ff844a961d2a24c06a1a{
padding:30px 30px 30px 30px;
}

.avia-animated-number.av-1wgmy5z-e04832db5f324e006713103a97005ad7 .avia-animated-number-icon.avia-svg-icon svg:first-child{
fill:#ee7624;
stroke:#ee7624;
}
#top .avia-animated-number.av-1wgmy5z-e04832db5f324e006713103a97005ad7 .avia-animated-number-title{
font-size:60px;
color:#ee7624;
}
#top .avia-animated-number.av-1wgmy5z-e04832db5f324e006713103a97005ad7 .avia-animated-number-content{
color:#444444;
}

.flex_column.av-1vlu71j-93c16fa9735a25cd872f99ee691be89d{
padding:30px 30px 30px 30px;
}

.avia-animated-number.av-1t1ci7r-5199db25de098390e1eb78556d27577b .avia-animated-number-icon.avia-svg-icon svg:first-child{
fill:#ee7624;
stroke:#ee7624;
}
#top .avia-animated-number.av-1t1ci7r-5199db25de098390e1eb78556d27577b .avia-animated-number-title{
font-size:60px;
color:#ee7624;
}
#top .avia-animated-number.av-1t1ci7r-5199db25de098390e1eb78556d27577b .avia-animated-number-content{
color:#444444;
}

.flex_column.av-1r3zpyf-4d7bdaa582799282263c6d61fb58eb99{
padding:30px 30px 30px 30px;
}

.avia-animated-number.av-1pu723r-b69b4270a7758fb534d5fae33669142d .avia-animated-number-icon.avia-svg-icon svg:first-child{
fill:#ee7624;
stroke:#ee7624;
}
#top .avia-animated-number.av-1pu723r-b69b4270a7758fb534d5fae33669142d .avia-animated-number-title{
font-size:60px;
color:#ee7624;
}
#top .avia-animated-number.av-1pu723r-b69b4270a7758fb534d5fae33669142d .avia-animated-number-content{
color:#444444;
}

.flex_cell.av-1m6tz6v-cd9b11e03db784970175568ea87b5d6a{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-1m6tz6v-cd9b11e03db784970175568ea87b5d6a{
padding:50px 50px 50px 50px !important;
}

#top .av-special-heading.av-1hvzcgn-28b47b0f7eebef022010394e62943335{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#61a5b9;
font-size:58px;
}
body .av-special-heading.av-1hvzcgn-28b47b0f7eebef022010394e62943335 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-1hvzcgn-28b47b0f7eebef022010394e62943335 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-1hvzcgn-28b47b0f7eebef022010394e62943335 .special-heading-inner-border{
border-color:#61a5b9;
}
.av-special-heading.av-1hvzcgn-28b47b0f7eebef022010394e62943335 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-59eq6f-c6a6dce0b05fc07c77f69909e67d6a70{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#61a5b9;
}
body .av-special-heading.av-59eq6f-c6a6dce0b05fc07c77f69909e67d6a70 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-59eq6f-c6a6dce0b05fc07c77f69909e67d6a70 .special-heading-inner-border{
border-color:#61a5b9;
}
.av-special-heading.av-59eq6f-c6a6dce0b05fc07c77f69909e67d6a70 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-hjizb-18671e99f1d5d7b2fb088dd6bd98e6c6{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#61a5b9;
font-size:58px;
}
body .av-special-heading.av-hjizb-18671e99f1d5d7b2fb088dd6bd98e6c6 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-hjizb-18671e99f1d5d7b2fb088dd6bd98e6c6 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-hjizb-18671e99f1d5d7b2fb088dd6bd98e6c6 .special-heading-inner-border{
border-color:#61a5b9;
}
.av-special-heading.av-hjizb-18671e99f1d5d7b2fb088dd6bd98e6c6 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-389esn-0d4c393db9489c96c8f7c596a0276325{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#61a5b9;
}
body .av-special-heading.av-389esn-0d4c393db9489c96c8f7c596a0276325 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-389esn-0d4c393db9489c96c8f7c596a0276325 .special-heading-inner-border{
border-color:#61a5b9;
}
.av-special-heading.av-389esn-0d4c393db9489c96c8f7c596a0276325 .av-subheading{
font-size:15px;
}

.avia-section.av-mh33ld4u-6f3a39c9ac0bffa6bd53f8ef6ea7e839{
background-color:#539dd6;
background-image:unset;
}

#top .av-special-heading.av-mh33lkdl-2512f7f02acef8dea756d368b7bfa7be{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#b8e2f2;
font-size:58px;
}
body .av-special-heading.av-mh33lkdl-2512f7f02acef8dea756d368b7bfa7be .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mh33lkdl-2512f7f02acef8dea756d368b7bfa7be .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mh33lkdl-2512f7f02acef8dea756d368b7bfa7be .special-heading-inner-border{
border-color:#b8e2f2;
}
.av-special-heading.av-mh33lkdl-2512f7f02acef8dea756d368b7bfa7be .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mh33mkix-4e4ff9e663b0fb5ee250fc9a93919445{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#b8e2f2;
}
body .av-special-heading.av-mh33mkix-4e4ff9e663b0fb5ee250fc9a93919445 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mh33mkix-4e4ff9e663b0fb5ee250fc9a93919445 .special-heading-inner-border{
border-color:#b8e2f2;
}
.av-special-heading.av-mh33mkix-4e4ff9e663b0fb5ee250fc9a93919445 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-mh33pren-8ff5c7e5a852d31c66834f4f1e857213{
height:150px;
}

.avia-section.av-vo0ox3-42b189df148252ceafe332ab0eea5074{
background-color:#b8e2f2;
background-image:unset;
}

#top .flex_column_table.av-equal-height-column-flextable.av-v9osdz-a8136d504bee5573762b8caab6c7459d{
margin-top:-200px;
margin-bottom:0px;
}
.flex_column.av-v9osdz-a8136d504bee5573762b8caab6c7459d{
width:22%;
margin-left:0;
}
#top .flex_column_table.av-equal-height-column-flextable.av-v9osdz-a8136d504bee5573762b8caab6c7459d .av-flex-placeholder{
width:4%;
}

@keyframes av_boxShadowEffect_av-slppo7-cc94f4ef82f254d9eee49bd6219eb6a6 {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-slppo7-cc94f4ef82f254d9eee49bd6219eb6a6 img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-slppo7-cc94f4ef82f254d9eee49bd6219eb6a6 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-qqt8fb-686c6b104ecaa067206a78a3437cca38{
margin-top:-200px;
margin-bottom:0px;
}
.flex_column.av-qqt8fb-686c6b104ecaa067206a78a3437cca38{
width:22%;
margin-left:0;
}
#top .flex_column_table.av-equal-height-column-flextable.av-qqt8fb-686c6b104ecaa067206a78a3437cca38 .av-flex-placeholder{
width:4%;
}

#top .hr.hr-invisible.av-mk0lciqg-d125087a6d95180b072a7763c83adddf{
height:40px;
}

@keyframes av_boxShadowEffect_av-pugyuf-e69f7602d005200d6758f2f10deeece9 {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-pugyuf-e69f7602d005200d6758f2f10deeece9 img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-pugyuf-e69f7602d005200d6758f2f10deeece9 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-oibuvb-a46c10249f9c7b5064be40931ca39cad{
margin-top:-200px;
margin-bottom:0px;
}
.flex_column.av-oibuvb-a46c10249f9c7b5064be40931ca39cad{
width:22%;
margin-left:0;
}
#top .flex_column_table.av-equal-height-column-flextable.av-oibuvb-a46c10249f9c7b5064be40931ca39cad .av-flex-placeholder{
width:4%;
}

#top .hr.hr-invisible.av-dtcqf-696b553719f55cc29e1833d34bc42162{
height:40px;
}

@keyframes av_boxShadowEffect_av-lt5wxz-c5a54ae7c77b8504d082cb11d32554f2 {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-lt5wxz-c5a54ae7c77b8504d082cb11d32554f2 img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-lt5wxz-c5a54ae7c77b8504d082cb11d32554f2 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-kgl5p3-1466fe30f81d0b425d34d52d272500c8{
margin-top:-200px;
margin-bottom:0px;
}
.flex_column.av-kgl5p3-1466fe30f81d0b425d34d52d272500c8{
width:22%;
margin-left:0;
}
#top .flex_column_table.av-equal-height-column-flextable.av-kgl5p3-1466fe30f81d0b425d34d52d272500c8 .av-flex-placeholder{
width:4%;
}

#top .hr.hr-invisible.av-2yf45z-975d65c6e154552042db13225c21c817{
height:40px;
}

@keyframes av_boxShadowEffect_av-is6axz-6d3cde1b0925d8f78f74a9a454b6b644 {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-is6axz-6d3cde1b0925d8f78f74a9a454b6b644 img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-is6axz-6d3cde1b0925d8f78f74a9a454b6b644 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-h6km5z-e8a8aca42c0411aafd759f6d9cb16c9b{
width:22%;
}

@keyframes av_boxShadowEffect_av-1m0cyv-56a02112b8593db6f4d15d847e4b26c4 {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-1m0cyv-56a02112b8593db6f4d15d847e4b26c4 img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-1m0cyv-56a02112b8593db6f4d15d847e4b26c4 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-ef6apz-cf4d83a46b78d9a5f564ae8cb9025263{
width:22%;
margin-left:4%;
}

@keyframes av_boxShadowEffect_av-crzt6v-75c2021f7fa783b762c9852a641b3f29 {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-crzt6v-75c2021f7fa783b762c9852a641b3f29 img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-crzt6v-75c2021f7fa783b762c9852a641b3f29 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-awd6l3-bbf87f573411475488ec5320ad3e32a0{
width:22%;
margin-left:4%;
}

@keyframes av_boxShadowEffect_av-8pkgo7-713edf20a63c26e6f91427730aa191c9 {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-8pkgo7-713edf20a63c26e6f91427730aa191c9 img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-8pkgo7-713edf20a63c26e6f91427730aa191c9 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-2mgimf-255b22c67d74ab3b1165b18974926a8f{
height:30px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-662d5xz-691b29ffcbdf0230e003366f6f93e14d .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-5s5c98n-2d8d281bc0f8dccb8aa0835a8ca07512 .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-2a3tk8n-e2a733e51b18001a19f869bea6a72b8f .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-1hvzcgn-28b47b0f7eebef022010394e62943335 .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-hjizb-18671e99f1d5d7b2fb088dd6bd98e6c6 .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-mh33lkdl-2512f7f02acef8dea756d368b7bfa7be .av-special-heading-tag{
font-size:40px;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-662d5xz-691b29ffcbdf0230e003366f6f93e14d .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-662d5xz-691b29ffcbdf0230e003366f6f93e14d .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-5s5c98n-2d8d281bc0f8dccb8aa0835a8ca07512 .av-special-heading-tag{
font-size:40px;
}

#top .flex_column.av-5kr84zb-42bd2529a98295775f7e73991cb775ef{
margin-top:0px;
}
.responsive #top #wrap_all .flex_column.av-5kr84zb-42bd2529a98295775f7e73991cb775ef{
margin-top:0px;
}

#top .flex_column.av-5gmowzb-4d2b936b9d85c892b8448899e19e2a3b{
margin-top:0px;
}
.responsive #top #wrap_all .flex_column.av-5gmowzb-4d2b936b9d85c892b8448899e19e2a3b{
margin-top:0px;
}

#top .flex_column.av-5arze9z-df1487c9811d89e932b2bef7831fafb7{
margin-top:0px;
}
.responsive #top #wrap_all .flex_column.av-5arze9z-df1487c9811d89e932b2bef7831fafb7{
margin-top:0px;
}

#top .flex_column.av-3y5jw7-aaa9a8a8da6de11bb657117af5d36704{
margin-top:0px;
}
.responsive #top #wrap_all .flex_column.av-3y5jw7-aaa9a8a8da6de11bb657117af5d36704{
margin-top:0px;
}

.responsive #top #wrap_all .flex_cell.av-8q81fr-480a7972f0df0efb3a5078a9bf661fc9{
padding:50px 30px 50px 30px !important;
}

#top #wrap_all .av-special-heading.av-2a3tk8n-e2a733e51b18001a19f869bea6a72b8f .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-1hvzcgn-28b47b0f7eebef022010394e62943335 .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-hjizb-18671e99f1d5d7b2fb088dd6bd98e6c6 .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-mh33lkdl-2512f7f02acef8dea756d368b7bfa7be .av-special-heading-tag{
font-size:40px;
}
}
