.avia-section.av-1bcqsjb-5467ffccbe3ab4cac8dfd015faae8f47{
background-repeat:no-repeat;
background-image:url(../../2026/02/BKE-banner-植物膠囊.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-19d325z-41526e4e564673f1881c42904cde7363{
height:380px;
}

#top .av-special-heading.av-1661987-3004db5aa929b74d8daa203cd63ce40d{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-1661987-3004db5aa929b74d8daa203cd63ce40d .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-1661987-3004db5aa929b74d8daa203cd63ce40d .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-1661987-3004db5aa929b74d8daa203cd63ce40d .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-1661987-3004db5aa929b74d8daa203cd63ce40d .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-1390e47-bdc9cc3718dccd8891fa121c16de5530{
vertical-align:top;
background-color:#aad0c5;
background:linear-gradient( to bottom, #aad0c5, #aad0c5, #95c6c6 );
}
.responsive #top #wrap_all .flex_cell.av-1390e47-bdc9cc3718dccd8891fa121c16de5530{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-ylfarb-83db4ea9ce87b41c5603bd5002fbd342{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-ylfarb-83db4ea9ce87b41c5603bd5002fbd342 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-ylfarb-83db4ea9ce87b41c5603bd5002fbd342 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-ylfarb-83db4ea9ce87b41c5603bd5002fbd342 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-ylfarb-83db4ea9ce87b41c5603bd5002fbd342 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-w12jef-8ec470923364f324ca3bf8ab8ea4b6a7{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-w12jef-8ec470923364f324ca3bf8ab8ea4b6a7 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-w12jef-8ec470923364f324ca3bf8ab8ea4b6a7 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-w12jef-8ec470923364f324ca3bf8ab8ea4b6a7 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-v810if-e58a158f3bff1224cd08e7afba3295d9{
height:50px;
}

.av-horizontal-gallery.av-s0dcjb-3fc9fa63f0c5c8c8f89dd7ce9d609e09 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-p4bukn-385ba80b2779fb05c5ffa8cba5a25771{
height:50px;
}

.avia-section.av-oekmxz-2dc70230366f6871d1ac820064cb792d{
background-color:#95c6c6;
background-image:unset;
}

#top .av-special-heading.av-l2wxs7-d14b34d0666859096580dd823d49910b{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-l2wxs7-d14b34d0666859096580dd823d49910b .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-l2wxs7-d14b34d0666859096580dd823d49910b .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-l2wxs7-d14b34d0666859096580dd823d49910b .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-l2wxs7-d14b34d0666859096580dd823d49910b .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-jidtw7-1f40114dc12594b099933e13c68b4ad0{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-jidtw7-1f40114dc12594b099933e13c68b4ad0 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jidtw7-1f40114dc12594b099933e13c68b4ad0 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-jidtw7-1f40114dc12594b099933e13c68b4ad0 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-i1lr47-a3c32eb602b3e865045fe96767203467{
height:50px;
}

.av-horizontal-gallery.av-1fewhj-e8fccc8acd9661d2de96566253300914 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

.av-horizontal-gallery.av-c67ss7-abe121ced4d2c0a4123edf5a1a79a070 .av-horizontal-gallery-inner{
padding-bottom:50%;
}

#top .hr.hr-invisible.av-9t00yv-ce736b42a722c3c8c9687de4b89b465f{
height:50px;
}

#top .av-special-heading.av-5s9c3b-37efee16964d685ea635858c22abd285{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-5s9c3b-37efee16964d685ea635858c22abd285 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-5s9c3b-37efee16964d685ea635858c22abd285 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-3l5onr-99ba9266a558a0911a92e75135f4c36d{
height:30px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-1661987-3004db5aa929b74d8daa203cd63ce40d .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-ylfarb-83db4ea9ce87b41c5603bd5002fbd342 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-l2wxs7-d14b34d0666859096580dd823d49910b .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-1661987-3004db5aa929b74d8daa203cd63ce40d .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-1661987-3004db5aa929b74d8daa203cd63ce40d .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-ylfarb-83db4ea9ce87b41c5603bd5002fbd342 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-l2wxs7-d14b34d0666859096580dd823d49910b .av-special-heading-tag{
font-size:0.8em;
}
}
