.avia-section.av-mocjcvvc-78ee1e317b982e706e6c07b8216c0f87{
background-repeat:no-repeat;
background-image:url(../../2026/04/玻璃瓶.jpg);
background-position:50% 100%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-ruyigt-b99641b224ce6be66e6e0a911e4a73f0{
height:380px;
}

#top .av-special-heading.av-oskj71-68abc39630eb436c0cf3c797e9dc60bd{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-oskj71-68abc39630eb436c0cf3c797e9dc60bd .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-oskj71-68abc39630eb436c0cf3c797e9dc60bd .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-oskj71-68abc39630eb436c0cf3c797e9dc60bd .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-oskj71-68abc39630eb436c0cf3c797e9dc60bd .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-moii0h8n-e8086ff2bbe8d5ad2ca1195678e69bfc{
vertical-align:top;
background-color:#e6f4fd;
}
.responsive #top #wrap_all .flex_cell.av-moii0h8n-e8086ff2bbe8d5ad2ca1195678e69bfc{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-nf84kt-b33edc313f6d2acd89b4f9ea029e4b52{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-nf84kt-b33edc313f6d2acd89b4f9ea029e4b52 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-nf84kt-b33edc313f6d2acd89b4f9ea029e4b52 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-nf84kt-b33edc313f6d2acd89b4f9ea029e4b52 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-nf84kt-b33edc313f6d2acd89b4f9ea029e4b52 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-2akaod-7e37aaf3b7c193e66b765a053d612590{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-2akaod-7e37aaf3b7c193e66b765a053d612590 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2akaod-7e37aaf3b7c193e66b765a053d612590 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-2akaod-7e37aaf3b7c193e66b765a053d612590 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-225nm5-e286d6181f3563eae89290fc4dcb6a12{
height:250px;
}

#top .hr.hr-invisible.av-is5gst-01a21739a2a262f9a296a8f1a32c04b1{
margin-top:-10px;
height:1px;
}

.flex_cell.av-moii0p6j-aa00bfc6fe950c76866e76daa480a9f0{
vertical-align:top;
background-color:#b9d2ea;
}
.responsive #top #wrap_all .flex_cell.av-moii0p6j-aa00bfc6fe950c76866e76daa480a9f0{
padding:50px 0px 50px 0px !important;
}

#top .hr.hr-invisible.av-g4xm0t-59f3f7cc37fb6208163f480ba39a431c{
height:30px;
}

#top .flex_column.av-1grrkd-e1a9ea41e08970d923768bb69721a37a{
margin-top:-270px;
margin-bottom:0px;
}
.responsive #top #wrap_all .flex_column.av-1grrkd-e1a9ea41e08970d923768bb69721a37a{
margin-top:-270px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-cvtfm5-9b7c54ac46aa271309104ed9df2b1d58{
margin-top:-10px;
height:1px;
}

.av-horizontal-gallery.av-mocject0-016c3b2b224152b5ee77ce8be6951f40 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-15dj1p-cd18965a3faa538b8e30782d3093a78f{
height:50px;
}

#top .av-special-heading.av-7c9ksd-1ad434f8d6e83c40fa43993793a5a138{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-7c9ksd-1ad434f8d6e83c40fa43993793a5a138 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-7c9ksd-1ad434f8d6e83c40fa43993793a5a138 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-5rs6ml-abbd0229d620bbf779133efeec5b0f8b{
height:50px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-oskj71-68abc39630eb436c0cf3c797e9dc60bd .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-nf84kt-b33edc313f6d2acd89b4f9ea029e4b52 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-1grrkd-e1a9ea41e08970d923768bb69721a37a{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-1grrkd-e1a9ea41e08970d923768bb69721a37a{
margin-top:-200px;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-oskj71-68abc39630eb436c0cf3c797e9dc60bd .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-oskj71-68abc39630eb436c0cf3c797e9dc60bd .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-nf84kt-b33edc313f6d2acd89b4f9ea029e4b52 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-1grrkd-e1a9ea41e08970d923768bb69721a37a{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-1grrkd-e1a9ea41e08970d923768bb69721a37a{
margin-top:-200px;
}
}
