.avia-section.av-mocjlg0p-4656070a1351507cb8b75e48081f2660{
background-repeat:no-repeat;
background-image:url(../../2026/04/玻璃瓶.jpg);
background-position:50% 100%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-synhde-76b08f304c5d7c14208548c48a3498bd{
height:380px;
}

#top .av-special-heading.av-p78ftu-46b2357a80f59f2036814243c72018ce{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-p78ftu-46b2357a80f59f2036814243c72018ce .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-p78ftu-46b2357a80f59f2036814243c72018ce .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-p78ftu-46b2357a80f59f2036814243c72018ce .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-p78ftu-46b2357a80f59f2036814243c72018ce .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-moii5s1c-fbb64d47e926f3566901e63a14d53128{
vertical-align:top;
background-color:#eeeeee;
}
.responsive #top #wrap_all .flex_cell.av-moii5s1c-fbb64d47e926f3566901e63a14d53128{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-osvw5e-a920a333238bf63bb17ddd37d7b21464{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-osvw5e-a920a333238bf63bb17ddd37d7b21464 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-osvw5e-a920a333238bf63bb17ddd37d7b21464 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-osvw5e-a920a333238bf63bb17ddd37d7b21464 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-osvw5e-a920a333238bf63bb17ddd37d7b21464 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-m8dk6a-d08b8f274fca24a4a1f65013ddcff895{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-m8dk6a-d08b8f274fca24a4a1f65013ddcff895 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m8dk6a-d08b8f274fca24a4a1f65013ddcff895 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-m8dk6a-d08b8f274fca24a4a1f65013ddcff895 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-k64lbm-f3c5c5a26297a6412a7a2ea525ea0eda{
height:250px;
}

#top .hr.hr-invisible.av-ixvfxe-b3e37a6d1424ccefecc1f2e1460118d9{
margin-top:-10px;
height:1px;
}

.flex_cell.av-moii60xk-b4ec04f9072418c84febd3b09cf98e25{
vertical-align:top;
background-color:#c8c9c9;
}
.responsive #top #wrap_all .flex_cell.av-moii60xk-b4ec04f9072418c84febd3b09cf98e25{
padding:50px 0px 50px 0px !important;
}

#top .hr.hr-invisible.av-fq7zo2-d90ffc9fd101965452445afa51dfb77e{
height:30px;
}

#top .flex_column.av-euyy4i-c6d67378dfa2b85533368e5dc81203cd{
margin-top:-270px;
margin-bottom:0px;
}
.responsive #top #wrap_all .flex_column.av-euyy4i-c6d67378dfa2b85533368e5dc81203cd{
margin-top:-270px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-czylzm-1f3becee9f233bc6e03c34265560d3ef{
margin-top:-10px;
height:1px;
}

.av-horizontal-gallery.av-mocjmx60-1c76f22776b5a8d869f8e3d5476e4cfb .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-b52cgi-501e81b7ae7f4f640b4eba616e55e17e{
height:50px;
}

#top .av-special-heading.av-80tphu-be63c1dce4974d7320812c099bee93b4{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-80tphu-be63c1dce4974d7320812c099bee93b4 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-80tphu-be63c1dce4974d7320812c099bee93b4 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-5vokn6-0e1f9584ceb8c649c480352761250719{
height:50px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-p78ftu-46b2357a80f59f2036814243c72018ce .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-osvw5e-a920a333238bf63bb17ddd37d7b21464 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-euyy4i-c6d67378dfa2b85533368e5dc81203cd{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-euyy4i-c6d67378dfa2b85533368e5dc81203cd{
margin-top:-200px;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-p78ftu-46b2357a80f59f2036814243c72018ce .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-p78ftu-46b2357a80f59f2036814243c72018ce .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-osvw5e-a920a333238bf63bb17ddd37d7b21464 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-euyy4i-c6d67378dfa2b85533368e5dc81203cd{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-euyy4i-c6d67378dfa2b85533368e5dc81203cd{
margin-top:-200px;
}
}
