.avia-section.av-12vy4w0-c1073006016346ac0bc52f40ccc63b82{
background-repeat:no-repeat;
background-image:url(../../2026/04/玻璃瓶.jpg);
background-position:50% 100%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-10utgnk-579bab0424b8e27198f509af91d77886{
height:380px;
}

#top .av-special-heading.av-3gssao-6829d1741473ddd9c2ee425fd1061964{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-3gssao-6829d1741473ddd9c2ee425fd1061964 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-3gssao-6829d1741473ddd9c2ee425fd1061964 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-3gssao-6829d1741473ddd9c2ee425fd1061964 .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-3gssao-6829d1741473ddd9c2ee425fd1061964 .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-mochqbhl-0cc5b73878717af082aa6cc0cb20076b{
vertical-align:top;
background-color:#fdf0d1;
background:linear-gradient( to bottom, #fdf0d1, #f7deb7, #f7deb7 );
}
.responsive #top #wrap_all .flex_cell.av-mochqbhl-0cc5b73878717af082aa6cc0cb20076b{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-rgzokw-77b0a840954c5d6a476f37d447fc7835{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-rgzokw-77b0a840954c5d6a476f37d447fc7835 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-rgzokw-77b0a840954c5d6a476f37d447fc7835 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-rgzokw-77b0a840954c5d6a476f37d447fc7835 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-rgzokw-77b0a840954c5d6a476f37d447fc7835 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-pbojog-d486a8b96329c71569da4a263d8fc964{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-pbojog-d486a8b96329c71569da4a263d8fc964 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-pbojog-d486a8b96329c71569da4a263d8fc964 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-pbojog-d486a8b96329c71569da4a263d8fc964 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-ndj96o-c05a985f77e30f697042315e979edbe2{
height:50px;
}

.av-horizontal-gallery.av-mochsq6i-e7fd719364e85dd8a7d8b9a648825e58 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-24465s-dc89e9b293f442b7617f3dd9f005232a{
height:50px;
}

#top .av-special-heading.av-hokcr4-72ff347e105eb39259204d240bbd8a59{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-hokcr4-72ff347e105eb39259204d240bbd8a59 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-hokcr4-72ff347e105eb39259204d240bbd8a59 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-hokcr4-72ff347e105eb39259204d240bbd8a59 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-hokcr4-72ff347e105eb39259204d240bbd8a59 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-1kb2v4-152c04a0b931015be34b4c5a6621197e{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-1kb2v4-152c04a0b931015be34b4c5a6621197e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1kb2v4-152c04a0b931015be34b4c5a6621197e .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-1kb2v4-152c04a0b931015be34b4c5a6621197e .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-em3l68-e5954c7cbe4e94b894df38910859237a{
height:50px;
}

.av-horizontal-gallery.av-mochtbxi-38e13a9244f7e7df29d1ac656c59efe6 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-agiuv4-39e9f00a1d5f25afd3d8f25b6d945036{
height:50px;
}

#top .av-special-heading.av-7nm3jk-e51a509a57e6c1d746a0ea0e388086df{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-7nm3jk-e51a509a57e6c1d746a0ea0e388086df .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-7nm3jk-e51a509a57e6c1d746a0ea0e388086df .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-229xs-bf4214c1ec95d7f6c257527a43a9613a{
height:50px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-3gssao-6829d1741473ddd9c2ee425fd1061964 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-rgzokw-77b0a840954c5d6a476f37d447fc7835 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-hokcr4-72ff347e105eb39259204d240bbd8a59 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-3gssao-6829d1741473ddd9c2ee425fd1061964 .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-3gssao-6829d1741473ddd9c2ee425fd1061964 .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-rgzokw-77b0a840954c5d6a476f37d447fc7835 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-hokcr4-72ff347e105eb39259204d240bbd8a59 .av-special-heading-tag{
font-size:0.8em;
}
}
