.avia-section.av-mocil307-9997b309ff5dbc1d93e411ed053c46b7{
background-repeat:no-repeat;
background-image:url(../../2026/04/玻璃瓶.jpg);
background-position:50% 100%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-t0ea5s-da32ff2ed2692ad63455e50da7dc2140{
height:380px;
}

#top .av-special-heading.av-pjvopc-d340ba105677b36f840a90e0854dc56d{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-pjvopc-d340ba105677b36f840a90e0854dc56d .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-pjvopc-d340ba105677b36f840a90e0854dc56d .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-pjvopc-d340ba105677b36f840a90e0854dc56d .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-pjvopc-d340ba105677b36f840a90e0854dc56d .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-moihqdv8-cfd5f207939f37722e39064f00c40ac8{
vertical-align:top;
background-color:#e9f1e0;
}
.responsive #top #wrap_all .flex_cell.av-moihqdv8-cfd5f207939f37722e39064f00c40ac8{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-o4hc1s-0f27731cec61434a23b4010f35735eea{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-o4hc1s-0f27731cec61434a23b4010f35735eea .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-o4hc1s-0f27731cec61434a23b4010f35735eea .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-o4hc1s-0f27731cec61434a23b4010f35735eea .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-o4hc1s-0f27731cec61434a23b4010f35735eea .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mh9ci8-65062a9dafbe25806b4264df1e1e9d4e{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-mh9ci8-65062a9dafbe25806b4264df1e1e9d4e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mh9ci8-65062a9dafbe25806b4264df1e1e9d4e .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-mh9ci8-65062a9dafbe25806b4264df1e1e9d4e .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-kfz3nk-210a9c1bd1377a5ccb6dc880bd130eea{
height:250px;
}

#top .hr.hr-invisible.av-it8ots-bea39dd2e7ebc74ca965bfac4e6cbf6c{
margin-top:-10px;
height:1px;
}

.flex_cell.av-moihqk6e-50809cb9e84814524829083068fdba2b{
vertical-align:top;
background-color:#e6f0cf;
}
.responsive #top #wrap_all .flex_cell.av-moihqk6e-50809cb9e84814524829083068fdba2b{
padding:50px 0px 50px 0px !important;
}

#top .hr.hr-invisible.av-f9sfcw-5a1daf1d5a80c28cfc02b4f702477b7b{
height:30px;
}

#top .flex_column.av-1f7to0-0d4c6e391c3b7d9eb2af0d59af3c5321{
margin-top:-270px;
margin-bottom:0px;
}
.responsive #top #wrap_all .flex_column.av-1f7to0-0d4c6e391c3b7d9eb2af0d59af3c5321{
margin-top:-270px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-cqu19s-7f3ef65bd4f1c43b21809ced7b3efb07{
margin-top:-10px;
height:1px;
}

.av-horizontal-gallery.av-mocioqaw-c08826bd55549d82bdb481cd7f394444 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-afb4tc-9e8d4f21089b15f6af448006e1542b77{
height:50px;
}

#top .av-special-heading.av-70pjxc-9b7a2ee4974f3445b4ee7cc43a51dbe0{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-70pjxc-9b7a2ee4974f3445b4ee7cc43a51dbe0 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-70pjxc-9b7a2ee4974f3445b4ee7cc43a51dbe0 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-1zpdc-5ee1efa0f9b35342098c07c7d3f80aa7{
height:50px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-pjvopc-d340ba105677b36f840a90e0854dc56d .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-o4hc1s-0f27731cec61434a23b4010f35735eea .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-1f7to0-0d4c6e391c3b7d9eb2af0d59af3c5321{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-1f7to0-0d4c6e391c3b7d9eb2af0d59af3c5321{
margin-top:-200px;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-pjvopc-d340ba105677b36f840a90e0854dc56d .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-pjvopc-d340ba105677b36f840a90e0854dc56d .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-o4hc1s-0f27731cec61434a23b4010f35735eea .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-1f7to0-0d4c6e391c3b7d9eb2af0d59af3c5321{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-1f7to0-0d4c6e391c3b7d9eb2af0d59af3c5321{
margin-top:-200px;
}
}
