.avia-section.av-2fj3yrx-da0055f6b6e8b02d7b118a15ac3e7859{
background-repeat:no-repeat;
background-image:url(../../2026/02/b7.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-2v3yfx-d27402061cf2d8b3fee01f074c6287d1{
height:380px;
}

#top .av-special-heading.av-2b0f9q5-e6068422adea9b7d31ef4f3ae21dc4e9{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-2b0f9q5-e6068422adea9b7d31ef4f3ae21dc4e9 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2b0f9q5-e6068422adea9b7d31ef4f3ae21dc4e9 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-2b0f9q5-e6068422adea9b7d31ef4f3ae21dc4e9 .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-2b0f9q5-e6068422adea9b7d31ef4f3ae21dc4e9 .av-subheading{
font-size:18px;
color:#3d3a39;
}

.avia-section.av-2a9djpp-fda50350271ab4f227ea860b5e33579f{
background-color:#a3b8e0;
background-image:unset;
}

#top .flex_column.av-28dhhlp-ff847fdd9a399ac467e230ff8be91d77{
margin-top:0px;
margin-bottom:200px;
}
.responsive #top #wrap_all .flex_column.av-28dhhlp-ff847fdd9a399ac467e230ff8be91d77{
margin-top:0px;
margin-bottom:200px;
}

#top .av-special-heading.av-275levx-53a0ebef87d43e81c640791e8f136a14{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#3d3a39;
font-size:58px;
}
body .av-special-heading.av-275levx-53a0ebef87d43e81c640791e8f136a14 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-275levx-53a0ebef87d43e81c640791e8f136a14 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-275levx-53a0ebef87d43e81c640791e8f136a14 .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-275levx-53a0ebef87d43e81c640791e8f136a14 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-25kmg0d-4c14fd177ef5366a4667ce3253f68608{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#3d3a39;
}
body .av-special-heading.av-25kmg0d-4c14fd177ef5366a4667ce3253f68608 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-25kmg0d-4c14fd177ef5366a4667ce3253f68608 .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-25kmg0d-4c14fd177ef5366a4667ce3253f68608 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-cz565-54f0f21027e6c444b7a4eac9c6b32373{
height:50px;
}

#top .hr.hr-invisible.av-mlggc5is-9f7b9da53ae401d33a3c516c59fef9ec{
margin-top:-10px;
height:1px;
}

.avia-section.av-5zc5z1-eeac94b912c64188d4fc412b29e74804{
background-color:#7885a8;
background-image:unset;
}

#top .hr.hr-invisible.av-mlgbfdrn-2b16eb8673e8938ac7005d1939ccfe78{
height:30px;
}

#top .flex_column.av-mlgabqji-f6616d43d1d9a495a22b8007516704a4{
margin-top:-270px;
}
.responsive #top #wrap_all .flex_column.av-mlgabqji-f6616d43d1d9a495a22b8007516704a4{
margin-top:-270px;
}

#top .hr.hr-invisible.av-mlgbbune-780afe6928fd851f2c577da7a56504df{
margin-top:-10px;
height:1px;
}

.av-horizontal-gallery.av-mlgaa85f-51c3014fa4f71de87ab0cd44a4bebede .av-horizontal-gallery-inner{
padding-bottom:30%;
}

.av-horizontal-gallery.av-mlgab54z-282aa45552902628563b625d2ebe3810 .av-horizontal-gallery-inner{
padding-bottom:50%;
}

#top .hr.hr-invisible.av-mlgb6p8z-c9f3521c1b4d94dfb10557dc2b2acdc4{
margin-top:-50px;
height:1px;
}

#top .hr.hr-invisible.av-mlgg88f6-d4e12578adb41e6f47835d1c9e426064{
height:10px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-2b0f9q5-e6068422adea9b7d31ef4f3ae21dc4e9 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-28dhhlp-ff847fdd9a399ac467e230ff8be91d77{
margin-top:0px;
margin-bottom:50px;
}
.responsive #top #wrap_all .flex_column.av-28dhhlp-ff847fdd9a399ac467e230ff8be91d77{
margin-top:0px;
margin-bottom:50px;
}

#top #wrap_all .av-special-heading.av-275levx-53a0ebef87d43e81c640791e8f136a14 .av-special-heading-tag{
font-size:40px;
}

#top .flex_column.av-mlgabqji-f6616d43d1d9a495a22b8007516704a4{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-mlgabqji-f6616d43d1d9a495a22b8007516704a4{
margin-top:-200px;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-2b0f9q5-e6068422adea9b7d31ef4f3ae21dc4e9 .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-2b0f9q5-e6068422adea9b7d31ef4f3ae21dc4e9 .av-subheading{
font-size:16px;
}

#top .flex_column.av-28dhhlp-ff847fdd9a399ac467e230ff8be91d77{
margin-top:0px;
margin-bottom:50px;
}
.responsive #top #wrap_all .flex_column.av-28dhhlp-ff847fdd9a399ac467e230ff8be91d77{
margin-top:0px;
margin-bottom:50px;
}

#top #wrap_all .av-special-heading.av-275levx-53a0ebef87d43e81c640791e8f136a14 .av-special-heading-tag{
font-size:40px;
}

#top .flex_column.av-mlgabqji-f6616d43d1d9a495a22b8007516704a4{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-mlgabqji-f6616d43d1d9a495a22b8007516704a4{
margin-top:-200px;
}
}
