.avia-section.av-mocbivli-914fe7548c9a68e140a51b8ee6fd3ec2{
background-repeat:no-repeat;
background-image:url(../../2026/04/玻璃瓶.jpg);
background-position:50% 100%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-16nbgoi-4d432d04a53d7f8a4a209f16c11af702{
height:380px;
}

#top .av-special-heading.av-mocbrmgv-25cea569bde94280e454f4bd9c5d65f4{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-mocbrmgv-25cea569bde94280e454f4bd9c5d65f4 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mocbrmgv-25cea569bde94280e454f4bd9c5d65f4 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-mocbrmgv-25cea569bde94280e454f4bd9c5d65f4 .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-mocbrmgv-25cea569bde94280e454f4bd9c5d65f4 .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-1iryzgi-abdf292e9e41072783fb6783291840c9{
vertical-align:top;
background-color:#d4dde1;
background:linear-gradient( to bottom, #d4dde1, #90969d, #90969d );
}
.responsive #top #wrap_all .flex_cell.av-1iryzgi-abdf292e9e41072783fb6783291840c9{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-1eqjn8i-9c88683b35fe9d925781c4e1a8327943{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-1eqjn8i-9c88683b35fe9d925781c4e1a8327943 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-1eqjn8i-9c88683b35fe9d925781c4e1a8327943 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-1eqjn8i-9c88683b35fe9d925781c4e1a8327943 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-1eqjn8i-9c88683b35fe9d925781c4e1a8327943 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-1cx4jaa-35cd66b6c4eb4306d72a76bdf8d5e160{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-1cx4jaa-35cd66b6c4eb4306d72a76bdf8d5e160 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1cx4jaa-35cd66b6c4eb4306d72a76bdf8d5e160 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-1cx4jaa-35cd66b6c4eb4306d72a76bdf8d5e160 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-1atnexe-4e5b6ba39a9ce1f0948ad819dddb05dd{
height:50px;
}

.av-horizontal-gallery.av-moccbpe3-830a9cce58bb006b35607a397cc7b325 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-18xvff6-df25f7b6677036b5c830a3670d3e03f5{
height:50px;
}

#top .av-special-heading.av-16rg7ma-25f229bbc74c6a6184626d0179cf2b60{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-16rg7ma-25f229bbc74c6a6184626d0179cf2b60 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-16rg7ma-25f229bbc74c6a6184626d0179cf2b60 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-16rg7ma-25f229bbc74c6a6184626d0179cf2b60 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-16rg7ma-25f229bbc74c6a6184626d0179cf2b60 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-13xol6q-60068355c49d6cf73be0c028f3e1a129{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-13xol6q-60068355c49d6cf73be0c028f3e1a129 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-13xol6q-60068355c49d6cf73be0c028f3e1a129 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-13xol6q-60068355c49d6cf73be0c028f3e1a129 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-3yqkqa-8bacb62b49f629171f367f8cf72fac96{
height:50px;
}

.av-horizontal-gallery.av-1038g6a-5c65888c3e4e6a8c8b4606351aa78d77 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .av-special-heading.av-7up5ma-e412bc8488f0061067106c009d8d2e36{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-7up5ma-e412bc8488f0061067106c009d8d2e36 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-7up5ma-e412bc8488f0061067106c009d8d2e36 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-54khoy-6c097832b14b3469472df02dc17792d3{
height:50px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-mocbrmgv-25cea569bde94280e454f4bd9c5d65f4 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-1eqjn8i-9c88683b35fe9d925781c4e1a8327943 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-16rg7ma-25f229bbc74c6a6184626d0179cf2b60 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-mocbrmgv-25cea569bde94280e454f4bd9c5d65f4 .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-mocbrmgv-25cea569bde94280e454f4bd9c5d65f4 .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-1eqjn8i-9c88683b35fe9d925781c4e1a8327943 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-16rg7ma-25f229bbc74c6a6184626d0179cf2b60 .av-special-heading-tag{
font-size:0.8em;
}
}
