#top .av-special-heading.av-mgrp4glc-f762dc997096cb73b4d2f63415b55625{
padding-bottom:10px;
color:#f5dd61;
font-size:75px;
}
body .av-special-heading.av-mgrp4glc-f762dc997096cb73b4d2f63415b55625 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mgrp4glc-f762dc997096cb73b4d2f63415b55625 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-mgrp4glc-f762dc997096cb73b4d2f63415b55625 .special-heading-inner-border{
border-color:#f5dd61;
}
.av-special-heading.av-mgrp4glc-f762dc997096cb73b4d2f63415b55625 .av-subheading{
font-size:18px;
color:#ffffff;
}

#top .av-special-heading.av-2bib3j-9026b34b763df67c2c3443bb992b5666{
padding-bottom:10px;
color:#f5dd61;
font-size:75px;
}
body .av-special-heading.av-2bib3j-9026b34b763df67c2c3443bb992b5666 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2bib3j-9026b34b763df67c2c3443bb992b5666 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-2bib3j-9026b34b763df67c2c3443bb992b5666 .special-heading-inner-border{
border-color:#f5dd61;
}
.av-special-heading.av-2bib3j-9026b34b763df67c2c3443bb992b5666 .av-subheading{
font-size:18px;
color:#ffffff;
}

.avia-section.av-mfz0w5ae-af82d8c9d0085f11fe21aab9b270fa97{
background-color:#f5dd61;
background-image:unset;
}

#top .av-special-heading.av-mfz0wnuv-453a777564be9d55c52af20ae2705a7a{
margin:0px 0px 0px 0px;
padding-bottom:10px;
font-size:58px;
}
body .av-special-heading.av-mfz0wnuv-453a777564be9d55c52af20ae2705a7a .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mfz0wnuv-453a777564be9d55c52af20ae2705a7a .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mfz0wnuv-453a777564be9d55c52af20ae2705a7a .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mfz0wqfx-f19065679509511c6074b2d0c0f4e17f{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-mfz0wqfx-f19065679509511c6074b2d0c0f4e17f .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mfz0wqfx-f19065679509511c6074b2d0c0f4e17f .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-mfz40aoa-3c304c5c3c439c4cb867d5fb9175ab74{
height:90px;
}

@keyframes av_boxShadowEffect_av-8tlb0f-d430646006e179ec9815a0ee1a4b107c-column {
0%   { box-shadow:  0 0 0 0 rgba(243,209,31,0.27); opacity: 1; }
100% { box-shadow:  0 0 10px 0 rgba(243,209,31,0.27); opacity: 1; }
}
#top .flex_column.av-8tlb0f-d430646006e179ec9815a0ee1a4b107c{
margin-top:-90px;
}
.flex_column.av-8tlb0f-d430646006e179ec9815a0ee1a4b107c{
width:16.8%;
box-shadow: 0 0 10px 0 rgba(243,209,31,0.27);
border-width:5px;
border-color:#f3d11f;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_column.av-8tlb0f-d430646006e179ec9815a0ee1a4b107c{
margin-top:-90px;
}

#top .av-special-heading.av-mfz3sff0-a59a5bc53457afdf2036f71890ad841c{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-mfz3sff0-a59a5bc53457afdf2036f71890ad841c .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mfz3sff0-a59a5bc53457afdf2036f71890ad841c .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-mfz3sff0-a59a5bc53457afdf2036f71890ad841c .av-subheading{
font-size:15px;
color:#717171;
}

@keyframes av_boxShadowEffect_av-kq49dr-7f239bc42d9a029a4c8c0628cd3411cb-column {
0%   { box-shadow:  0 0 0 0 #f3d11f; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #f3d11f; opacity: 1; }
}
#top .flex_column.av-kq49dr-7f239bc42d9a029a4c8c0628cd3411cb{
margin-top:-90px;
}
.flex_column.av-kq49dr-7f239bc42d9a029a4c8c0628cd3411cb{
width:16.8%;
margin-left:4%;
box-shadow: 0 0 10px 0 #f3d11f;
border-width:5px;
border-color:#f3d11f;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_column.av-kq49dr-7f239bc42d9a029a4c8c0628cd3411cb{
margin-top:-90px;
}

#top .av-special-heading.av-h5try7-e477641dcc3e8a660ff2998305555545{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-h5try7-e477641dcc3e8a660ff2998305555545 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-h5try7-e477641dcc3e8a660ff2998305555545 .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-h5try7-e477641dcc3e8a660ff2998305555545 .av-subheading{
font-size:15px;
color:#717171;
}

@keyframes av_boxShadowEffect_av-gd540v-3ecedfe6ba13ab7d412047fb1f76e3ff-column {
0%   { box-shadow:  0 0 0 0 rgba(243,209,31,0.27); opacity: 1; }
100% { box-shadow:  0 0 10px 0 rgba(243,209,31,0.27); opacity: 1; }
}
#top .flex_column.av-gd540v-3ecedfe6ba13ab7d412047fb1f76e3ff{
margin-top:-90px;
}
.flex_column.av-gd540v-3ecedfe6ba13ab7d412047fb1f76e3ff{
width:16.8%;
margin-left:4%;
box-shadow: 0 0 10px 0 rgba(243,209,31,0.27);
border-width:5px;
border-color:#f3d11f;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_column.av-gd540v-3ecedfe6ba13ab7d412047fb1f76e3ff{
margin-top:-90px;
}

#top .av-special-heading.av-czr1hr-54d1fdd22e5bd271c0e06d9fd588fdda{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-czr1hr-54d1fdd22e5bd271c0e06d9fd588fdda .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-czr1hr-54d1fdd22e5bd271c0e06d9fd588fdda .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-czr1hr-54d1fdd22e5bd271c0e06d9fd588fdda .av-subheading{
font-size:15px;
color:#717171;
}

@keyframes av_boxShadowEffect_av-14xlmn-de67ea90952e330309835529b3593a29-column {
0%   { box-shadow:  0 0 0 0 #f3d11f; opacity: 1; }
100% { box-shadow:  0 0 5px 0 #f3d11f; opacity: 1; }
}
#top .flex_column.av-14xlmn-de67ea90952e330309835529b3593a29{
margin-top:-90px;
}
.flex_column.av-14xlmn-de67ea90952e330309835529b3593a29{
width:16.8%;
margin-left:4%;
box-shadow: 0 0 5px 0 #f3d11f;
border-width:5px;
border-color:#f3d11f;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_column.av-14xlmn-de67ea90952e330309835529b3593a29{
margin-top:-90px;
}

#top .av-special-heading.av-6thpnj-a4a5aec0c226174d8c450bdb5ed06417{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-6thpnj-a4a5aec0c226174d8c450bdb5ed06417 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-6thpnj-a4a5aec0c226174d8c450bdb5ed06417 .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-6thpnj-a4a5aec0c226174d8c450bdb5ed06417 .av-subheading{
font-size:15px;
color:#717171;
}

@keyframes av_boxShadowEffect_av-6dfngv-3490898ec4fdb7601b2d2a4124126fbe-column {
0%   { box-shadow:  0 0 0 0 rgba(243,209,31,0.27); opacity: 1; }
100% { box-shadow:  0 0 10px 0 rgba(243,209,31,0.27); opacity: 1; }
}
#top .flex_column.av-6dfngv-3490898ec4fdb7601b2d2a4124126fbe{
margin-top:-90px;
}
.flex_column.av-6dfngv-3490898ec4fdb7601b2d2a4124126fbe{
width:16.8%;
margin-left:4%;
box-shadow: 0 0 10px 0 rgba(243,209,31,0.27);
border-width:5px;
border-color:#f3d11f;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_column.av-6dfngv-3490898ec4fdb7601b2d2a4124126fbe{
margin-top:-90px;
}

#top .av-special-heading.av-8noxb-e8a4cdc904b662d86dafc8b9e8799ea4{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-8noxb-e8a4cdc904b662d86dafc8b9e8799ea4 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-8noxb-e8a4cdc904b662d86dafc8b9e8799ea4 .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-8noxb-e8a4cdc904b662d86dafc8b9e8799ea4 .av-subheading{
font-size:15px;
color:#717171;
}

#top .hr.hr-invisible.av-67v18v-a4d193e718fa8f1010dde8e8e1566537{
height:50px;
}

#top .av-special-heading.av-1vxe73-d1b7eca52f8037437dd90d0967b41510{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#f6d725;
font-size:58px;
}
body .av-special-heading.av-1vxe73-d1b7eca52f8037437dd90d0967b41510 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-1vxe73-d1b7eca52f8037437dd90d0967b41510 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-1vxe73-d1b7eca52f8037437dd90d0967b41510 .special-heading-inner-border{
border-color:#f6d725;
}
.av-special-heading.av-1vxe73-d1b7eca52f8037437dd90d0967b41510 .av-subheading{
font-size:15px;
}

.flex_cell.av-2kw3lb-8f823440b305db04208ba48d516ac17c{
vertical-align:top;
background-color:#3d3a39;
}
.responsive #top #wrap_all .flex_cell.av-2kw3lb-8f823440b305db04208ba48d516ac17c{
padding:30px 50px 0px 50px !important;
}

#top .av-special-heading.av-s0ghnz-16ee150753667e4f3cf66fef5c2b8316{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#f6d725;
}
body .av-special-heading.av-s0ghnz-16ee150753667e4f3cf66fef5c2b8316 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-s0ghnz-16ee150753667e4f3cf66fef5c2b8316 .special-heading-inner-border{
border-color:#f6d725;
}
.av-special-heading.av-s0ghnz-16ee150753667e4f3cf66fef5c2b8316 .av-subheading{
font-size:15px;
}

.flex_cell.av-o8xdin-988b8d861e5d99772c639ed44cee4fef{
vertical-align:top;
background-color:#3d3a39;
}
.responsive #top #wrap_all .flex_cell.av-o8xdin-988b8d861e5d99772c639ed44cee4fef{
padding:50px 0.25% 0px 20px !important;
}

#top .flex_column_table.av-equal-height-column-flextable.av-mx7p3j-38175de6fb8da2db5585829f955a96c4{
margin-bottom:0;
}
.flex_column.av-mx7p3j-38175de6fb8da2db5585829f955a96c4{
width:24.25%;
margin-left:0;
z-index:8;
border-radius:15px 15px 15px 15px;
padding:10px 10px 50px 10px;
background-color:#e3d1aa;
}
#top .flex_column_table.av-equal-height-column-flextable.av-mx7p3j-38175de6fb8da2db5585829f955a96c4 .av-flex-placeholder{
width:1%;
}

#top .av_textblock_section.av-kpvh0v-0b9c7776f6b87b6debfd4a9a62c26b77 .avia_textblock{
color:#e3d1aa;
}

#top .av_textblock_section.av-1xzc8f-433ed1c592347af2739d9101de953fa3 .avia_textblock{
color:#221714;
}

.avia-image-container.av-mg5ybn0k-aa7d57c22c893e0bf7d8056c6a8b3e5a{
position:absolute;
top:50%;
right:0px;
z-index:100;
}
.avia-image-container.av-mg5ybn0k-aa7d57c22c893e0bf7d8056c6a8b3e5a .avia-image-container-inner{
transform:translate3d( 50%, -50%, 0 );
}
.avia-image-container.av-mg5ybn0k-aa7d57c22c893e0bf7d8056c6a8b3e5a img.avia_image{
box-shadow:none;
}
.avia-image-container.av-mg5ybn0k-aa7d57c22c893e0bf7d8056c6a8b3e5a .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-1aognvj-7719ae5f6a828fd9b83b1470f6caf8f4{
margin-bottom:0;
}
.flex_column.av-1aognvj-7719ae5f6a828fd9b83b1470f6caf8f4{
width:24.25%;
margin-left:0;
z-index:7;
border-radius:15px 15px 15px 15px;
padding:10px 10px 50px 10px;
background-color:#d4c69e;
}
#top .flex_column_table.av-equal-height-column-flextable.av-1aognvj-7719ae5f6a828fd9b83b1470f6caf8f4 .av-flex-placeholder{
width:1%;
}

#top .av_textblock_section.av-18whun3-77724d46176ec84d3a1aed44c726fee4 .avia_textblock{
color:#d4c69e;
}

#top .av_textblock_section.av-fbbgv-3dc4adc920789d43ffc505f3c9b720dc .avia_textblock{
color:#221714;
}

.avia-image-container.av-mg5z6rr6-2b7c7df15d6b317abf8456212651a5c3{
position:absolute;
top:50%;
right:0px;
z-index:100;
}
.avia-image-container.av-mg5z6rr6-2b7c7df15d6b317abf8456212651a5c3 .avia-image-container-inner{
transform:translate3d( 50%, -50%, 0 );
}
.avia-image-container.av-mg5z6rr6-2b7c7df15d6b317abf8456212651a5c3 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-mg5z6rr6-2b7c7df15d6b317abf8456212651a5c3 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-14c8s9r-655d8869eb9da5f56a46b2c3de5e8b2f{
margin-bottom:0;
}
.flex_column.av-14c8s9r-655d8869eb9da5f56a46b2c3de5e8b2f{
width:24.25%;
margin-left:0;
z-index:6;
border-radius:15px 15px 15px 15px;
padding:10px 10px 50px 10px;
background-color:#cfb284;
}
#top .flex_column_table.av-equal-height-column-flextable.av-14c8s9r-655d8869eb9da5f56a46b2c3de5e8b2f .av-flex-placeholder{
width:1%;
}

#top .av_textblock_section.av-12pfsun-e2d24bad388c48a00fb213b58455eaa6 .avia_textblock{
color:#cfb284;
}

#top .av_textblock_section.av-zyimov-c755feb2bf3f274863f8cf38b110b4d3 .avia_textblock{
color:#221714;
}

.avia-image-container.av-mg5z8tut-5e448911417ba1dac393d305b231d5ac{
position:absolute;
top:50%;
right:0px;
z-index:100;
}
.avia-image-container.av-mg5z8tut-5e448911417ba1dac393d305b231d5ac .avia-image-container-inner{
transform:translate3d( 50%, -50%, 0 );
}
.avia-image-container.av-mg5z8tut-5e448911417ba1dac393d305b231d5ac img.avia_image{
box-shadow:none;
}
.avia-image-container.av-mg5z8tut-5e448911417ba1dac393d305b231d5ac .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-3d247z-ad5509b4e48525a5cd5a08fe2652221f{
margin-bottom:0;
}
.flex_column.av-3d247z-ad5509b4e48525a5cd5a08fe2652221f{
width:24.25%;
margin-left:0;
z-index:5;
border-radius:15px 15px 15px 15px;
padding:10px 10px 50px 10px;
background-color:#eac21d;
}
#top .flex_column_table.av-equal-height-column-flextable.av-3d247z-ad5509b4e48525a5cd5a08fe2652221f .av-flex-placeholder{
width:1%;
}

#top .av_textblock_section.av-w404sv-515968aead79772f271306f0a4633707 .avia_textblock{
color:#eac21d;
}

#top .av_textblock_section.av-sglzb3-2334b07c4949184c4c2846b960bfba27 .avia_textblock{
color:#221714;
}

.avia-image-container.av-mg5z9t0m-809c5b49fc19423b6a07b64b629b9c09{
position:absolute;
top:50%;
right:0px;
z-index:100;
}
.avia-image-container.av-mg5z9t0m-809c5b49fc19423b6a07b64b629b9c09 .avia-image-container-inner{
transform:translate3d( 50%, -50%, 0 );
}
.avia-image-container.av-mg5z9t0m-809c5b49fc19423b6a07b64b629b9c09 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-mg5z9t0m-809c5b49fc19423b6a07b64b629b9c09 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-mfz3itr8-d1f97ca5fd266adc900b0916f76aa7aa{
vertical-align:top;
background-color:#3d3a39;
}
.responsive #top #wrap_all .flex_cell.av-mfz3itr8-d1f97ca5fd266adc900b0916f76aa7aa{
padding:50px 20px 0px 0.25% !important;
}

#top .flex_column_table.av-equal-height-column-flextable.av-ra84r3-5b48201a4f6d5336b40902c8ffa36c22{
margin-bottom:-30px;
}
.flex_column.av-ra84r3-5b48201a4f6d5336b40902c8ffa36c22{
width:24.25%;
margin-left:0;
z-index:4;
border-radius:15px 15px 15px 15px;
padding:10px 10px 30px 10px;
background-color:#ebca23;
}
#top .flex_column_table.av-equal-height-column-flextable.av-ra84r3-5b48201a4f6d5336b40902c8ffa36c22 .av-flex-placeholder{
width:1%;
}

.avia-image-container.av-mk2qvog6-145ad0f246eec0351eeb615313439d1e{
position:absolute;
top:50%;
right:0px;
z-index:100;
}
.avia-image-container.av-mk2qvog6-145ad0f246eec0351eeb615313439d1e .avia-image-container-inner{
transform:translate3d( 50%, -50%, 0 );
}
.avia-image-container.av-mk2qvog6-145ad0f246eec0351eeb615313439d1e img.avia_image{
box-shadow:none;
}
.avia-image-container.av-mk2qvog6-145ad0f246eec0351eeb615313439d1e .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-p9ne3z-2b1cc723696a11f9fb7eed65a79a5989 .avia_textblock{
color:#ebca23;
}

#top .av_textblock_section.av-n3cocf-37cc927dc115307e3e7d4920dd081ac8 .avia_textblock{
color:#221714;
}

.avia-image-container.av-mg5zc8qe-ea60d6f405d285f860ff935ab0494a8f{
position:absolute;
top:50%;
right:0px;
z-index:100;
}
.avia-image-container.av-mg5zc8qe-ea60d6f405d285f860ff935ab0494a8f .avia-image-container-inner{
transform:translate3d( 50%, -50%, 0 );
}
.avia-image-container.av-mg5zc8qe-ea60d6f405d285f860ff935ab0494a8f img.avia_image{
box-shadow:none;
}
.avia-image-container.av-mg5zc8qe-ea60d6f405d285f860ff935ab0494a8f .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-kz1z67-795f9ef23f4030d966629ae18e23d221{
margin-bottom:-30px;
}
.flex_column.av-kz1z67-795f9ef23f4030d966629ae18e23d221{
width:24.25%;
margin-left:0;
z-index:3;
border-radius:15px 15px 15px 15px;
padding:10px 10px 30px 10px;
background-color:#f3d11f;
}
#top .flex_column_table.av-equal-height-column-flextable.av-kz1z67-795f9ef23f4030d966629ae18e23d221 .av-flex-placeholder{
width:1%;
}

#top .av_textblock_section.av-j8zbn3-962af0fac0d345aacb2daeb25bc83ef2 .avia_textblock{
color:#f3d11f;
}

#top .av_textblock_section.av-fop9n3-821be93700a647eca3d6c64f7d7037ed .avia_textblock{
color:#221714;
}

.avia-image-container.av-mg5zct1c-a7b1027041200b02971a61e7ba70057d{
position:absolute;
top:50%;
right:0px;
z-index:100;
}
.avia-image-container.av-mg5zct1c-a7b1027041200b02971a61e7ba70057d .avia-image-container-inner{
transform:translate3d( 50%, -50%, 0 );
}
.avia-image-container.av-mg5zct1c-a7b1027041200b02971a61e7ba70057d img.avia_image{
box-shadow:none;
}
.avia-image-container.av-mg5zct1c-a7b1027041200b02971a61e7ba70057d .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-e696db-c34e206017e61a178c36fa6386b5adb5{
margin-bottom:-30px;
}
.flex_column.av-e696db-c34e206017e61a178c36fa6386b5adb5{
width:24.25%;
margin-left:0;
z-index:2;
border-radius:15px 15px 15px 15px;
padding:10px 10px 30px 10px;
background-color:#f5dd61;
}
#top .flex_column_table.av-equal-height-column-flextable.av-e696db-c34e206017e61a178c36fa6386b5adb5 .av-flex-placeholder{
width:1%;
}

#top .av_textblock_section.av-ci2w9b-3c63caae3bc6603dd52c8a7dbbe8cc6f .avia_textblock{
color:#f5dd61;
}

#top .av_textblock_section.av-8goubz-60516454ad1611223516a7772d3fd565 .avia_textblock{
color:#221714;
}

.avia-image-container.av-mg5zd9yn-9854c886e5569edae5176f70e9d319bc{
position:absolute;
top:50%;
right:0px;
z-index:100;
}
.avia-image-container.av-mg5zd9yn-9854c886e5569edae5176f70e9d319bc .avia-image-container-inner{
transform:translate3d( 50%, -50%, 0 );
}
.avia-image-container.av-mg5zd9yn-9854c886e5569edae5176f70e9d319bc img.avia_image{
box-shadow:none;
}
.avia-image-container.av-mg5zd9yn-9854c886e5569edae5176f70e9d319bc .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-7i9run-34b9be85619eeddba32a9417887c0f52{
margin-bottom:-30px;
}
.flex_column.av-7i9run-34b9be85619eeddba32a9417887c0f52{
width:24.25%;
margin-left:0;
z-index:1;
border-radius:15px 15px 15px 15px;
padding:10px 10px 30px 10px;
background-color:#f7e190;
}
#top .flex_column_table.av-equal-height-column-flextable.av-7i9run-34b9be85619eeddba32a9417887c0f52 .av-flex-placeholder{
width:1%;
}

#top .av_textblock_section.av-kx09r-6243cb89e7b65996c76fc738238e6b90 .avia_textblock{
color:#f7e190;
}

#top .av_textblock_section.av-21l0fz-c437fde2e7cb5c9f7dcb22ff2fff9c4b .avia_textblock{
color:#221714;
}

.flex_cell.av-aamu7-dab9a4d3519d843541e5bdfa1eaae8b2{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-aamu7-dab9a4d3519d843541e5bdfa1eaae8b2{
padding:50px 50px 50px 50px !important;
}

.flex_cell.av-mfz2cn8s-164dd7981eccbf6eb03f69e98ca61ef7{
vertical-align:middle;
background-color:#ec9f1b;
}
.responsive #top #wrap_all .flex_cell.av-mfz2cn8s-164dd7981eccbf6eb03f69e98ca61ef7{
padding:50px 50px 50px 50px !important;
}

#top .av-special-heading.av-23pj2n-40095c24e42f01bc48234b26b1f2f7ed{
margin:0px 0px 0px 0px;
padding-bottom:10px;
font-size:58px;
}
body .av-special-heading.av-23pj2n-40095c24e42f01bc48234b26b1f2f7ed .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-23pj2n-40095c24e42f01bc48234b26b1f2f7ed .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-23pj2n-40095c24e42f01bc48234b26b1f2f7ed .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-jpbo73-28ff02dcae45ead39e0ae64f07ea1d37{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-jpbo73-28ff02dcae45ead39e0ae64f07ea1d37 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jpbo73-28ff02dcae45ead39e0ae64f07ea1d37 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-1q7ui7-ae9481633d9a85ddc840786080cfc869 .avia_textblock{
font-size:30px;
color:#ffffff;
}

.flex_cell.av-fcbvov-ba2456a34ac75b6c50a249d6cea6f168{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-fcbvov-ba2456a34ac75b6c50a249d6cea6f168{
padding:50px 0px 50px 0px !important;
}

.flex_column.av-es4n4v-553462b4b34fa073fd98fa09c290406f{
padding:30px 30px 30px 30px;
}

.avia-animated-number.av-crim73-f8b1cadee73d91653d5bb7a44fc9a61f .avia-animated-number-icon.avia-svg-icon svg:first-child{
fill:#ee7624;
stroke:#ee7624;
}
#top .avia-animated-number.av-crim73-f8b1cadee73d91653d5bb7a44fc9a61f .avia-animated-number-title{
font-size:60px;
color:#ee7624;
}
#top .avia-animated-number.av-crim73-f8b1cadee73d91653d5bb7a44fc9a61f .avia-animated-number-content{
color:#444444;
}

.flex_column.av-120krj-bb4afb6f6821ecd74d8d5311d1b1cd7d{
padding:30px 30px 30px 30px;
}

.avia-animated-number.av-98wkov-80115e45d540db749e71b21f7edf43e6 .avia-animated-number-icon.avia-svg-icon svg:first-child{
fill:#ee7624;
stroke:#ee7624;
}
#top .avia-animated-number.av-98wkov-80115e45d540db749e71b21f7edf43e6 .avia-animated-number-title{
font-size:60px;
color:#ee7624;
}
#top .avia-animated-number.av-98wkov-80115e45d540db749e71b21f7edf43e6 .avia-animated-number-content{
color:#444444;
}

.flex_column.av-7uog3j-7ed12459ffa05613dc4d01b2544642be{
padding:30px 30px 30px 30px;
}

.avia-animated-number.av-6ezdn3-4e56db7a998150a526de842f561a61b0 .avia-animated-number-icon.avia-svg-icon svg:first-child{
fill:#ee7624;
stroke:#ee7624;
}
#top .avia-animated-number.av-6ezdn3-4e56db7a998150a526de842f561a61b0 .avia-animated-number-title{
font-size:60px;
color:#ee7624;
}
#top .avia-animated-number.av-6ezdn3-4e56db7a998150a526de842f561a61b0 .avia-animated-number-content{
color:#444444;
}

.flex_column.av-4j5gov-710c33601d444e9dfae15c98f690b3eb{
padding:30px 30px 30px 30px;
}

.avia-animated-number.av-2714mn-388da00c58b0cbe03498ba7a608dda6b .avia-animated-number-icon.avia-svg-icon svg:first-child{
fill:#ee7624;
stroke:#ee7624;
}
#top .avia-animated-number.av-2714mn-388da00c58b0cbe03498ba7a608dda6b .avia-animated-number-title{
font-size:60px;
color:#ee7624;
}
#top .avia-animated-number.av-2714mn-388da00c58b0cbe03498ba7a608dda6b .avia-animated-number-content{
color:#444444;
}

.flex_cell.av-mfz2tm6m-80f327f8b11e5b0e7e78dfecd7e92ab2{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-mfz2tm6m-80f327f8b11e5b0e7e78dfecd7e92ab2{
padding:50px 50px 50px 50px !important;
}

.avia-section.av-mfz0x09u-cea8f61b5d91c6238441a852b3801deb{
background-color:#575656;
background-image:unset;
}

#top .av-special-heading.av-mfz1n7bs-3fc6aecd18b230688f972b2ad08c0a0c{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#b8e2f2;
font-size:58px;
}
body .av-special-heading.av-mfz1n7bs-3fc6aecd18b230688f972b2ad08c0a0c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mfz1n7bs-3fc6aecd18b230688f972b2ad08c0a0c .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mfz1n7bs-3fc6aecd18b230688f972b2ad08c0a0c .special-heading-inner-border{
border-color:#b8e2f2;
}
.av-special-heading.av-mfz1n7bs-3fc6aecd18b230688f972b2ad08c0a0c .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mfz1ngf6-58db40214958012d921892cdd7e9c8ff{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#b8e2f2;
}
body .av-special-heading.av-mfz1ngf6-58db40214958012d921892cdd7e9c8ff .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mfz1ngf6-58db40214958012d921892cdd7e9c8ff .special-heading-inner-border{
border-color:#b8e2f2;
}
.av-special-heading.av-mfz1ngf6-58db40214958012d921892cdd7e9c8ff .av-subheading{
font-size:15px;
}

.avia-section.av-mg5zyryp-7887f3d3e19566cf97374d263abe92b7{
background-color:#575656;
background:linear-gradient( to bottom, #575656, #575656, #060608 );
}

.flex_column.av-ax50v-716aa252d56340baefbbfd7f87013c13{
width:22%;
}

@keyframes av_boxShadowEffect_av-th7pkv-d86d855a0d721079a99cd9cbaa45bb30 {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-th7pkv-d86d855a0d721079a99cd9cbaa45bb30 img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-th7pkv-d86d855a0d721079a99cd9cbaa45bb30 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-rfmqxb-3c208d3f4aacff8ed3642f768b441a99{
width:22%;
margin-left:4%;
}

@keyframes av_boxShadowEffect_av-phoj27-e20f336a6876866c06e3c5d274d9ced3 {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-phoj27-e20f336a6876866c06e3c5d274d9ced3 img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-phoj27-e20f336a6876866c06e3c5d274d9ced3 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-nds6v3-73cc5e9cda59c1d85622dd0c3ddbb5ae{
width:22%;
margin-left:4%;
}

@keyframes av_boxShadowEffect_av-lr3hrj-ffd443441188f03f4898896db74bffc9 {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-lr3hrj-ffd443441188f03f4898896db74bffc9 img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-lr3hrj-ffd443441188f03f4898896db74bffc9 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-233o1b-abb05e2ae993ab110291c0739e643043{
width:22%;
margin-left:4%;
}

@keyframes av_boxShadowEffect_av-jl5f8v-b4e0ce202f949ea9ddb9c5063e341fc3 {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-jl5f8v-b4e0ce202f949ea9ddb9c5063e341fc3 img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-jl5f8v-b4e0ce202f949ea9ddb9c5063e341fc3 .av-image-caption-overlay-center{
color:#ffffff;
}

@keyframes av_boxShadowEffect_av-d21zlr-6196d167fd64e35789edd430d1a55f18 {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-d21zlr-6196d167fd64e35789edd430d1a55f18 img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-d21zlr-6196d167fd64e35789edd430d1a55f18 .av-image-caption-overlay-center{
color:#ffffff;
}

@keyframes av_boxShadowEffect_av-95i6tr-11af83c70431891970554630334af49d {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-95i6tr-11af83c70431891970554630334af49d img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-95i6tr-11af83c70431891970554630334af49d .av-image-caption-overlay-center{
color:#ffffff;
}

@keyframes av_boxShadowEffect_av-6ecvgf-0f2a99c6e74f027e0c2f8a9154885e6d {
0%   { box-shadow:  0 0 0 0 #000000; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #000000; opacity: 1; }
}
.avia-image-container.av-6ecvgf-0f2a99c6e74f027e0c2f8a9154885e6d img.avia_image{
box-shadow: 0 0 10px 0 #000000;
}
.avia-image-container.av-6ecvgf-0f2a99c6e74f027e0c2f8a9154885e6d .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-mfz156zn-9e48700b2a835f75f67cae6219527453{
vertical-align:top;
background-color:#03070a;
}
.responsive #top #wrap_all .flex_cell.av-mfz156zn-9e48700b2a835f75f67cae6219527453{
padding:50px 0px 50px 0px !important;
}

.flex_column.av-19ecnz-2eb260806151922669a069cecf87ca36{
width:22%;
margin-left:0;
}
#top .flex_column_table.av-equal-height-column-flextable.av-19ecnz-2eb260806151922669a069cecf87ca36 .av-flex-placeholder{
width:4%;
}

#top .av-special-heading.av-aj8yf3-b1b33b007eabb92b6eb0a19cee637f01{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#d60e73;
font-size:58px;
}
body .av-special-heading.av-aj8yf3-b1b33b007eabb92b6eb0a19cee637f01 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-aj8yf3-b1b33b007eabb92b6eb0a19cee637f01 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-aj8yf3-b1b33b007eabb92b6eb0a19cee637f01 .special-heading-inner-border{
border-color:#d60e73;
}
.av-special-heading.av-aj8yf3-b1b33b007eabb92b6eb0a19cee637f01 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-8q1ryn-c73eb7ff87e0a69dcf21f591df778047{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#d60e73;
}
body .av-special-heading.av-8q1ryn-c73eb7ff87e0a69dcf21f591df778047 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-8q1ryn-c73eb7ff87e0a69dcf21f591df778047 .special-heading-inner-border{
border-color:#d60e73;
}
.av-special-heading.av-8q1ryn-c73eb7ff87e0a69dcf21f591df778047 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-5ewidr-04ac292f3ad66d60ef0cf6082f0915b2{
height:15px;
}

#top #wrap_all .avia-button.av-34ojqn-0c94a1901489012d52755b0bacf7e99b{
color:#d60e73;
border-style:none;
border-radius:0px 0px 0px 0px;
transition:all 0.4s ease-in-out;
padding:0 90px 0 90px;
margin-bottom:5px;
margin-right:5px;
}
#top #wrap_all .avia-button.av-34ojqn-0c94a1901489012d52755b0bacf7e99b:hover{
background-color:#d60e73;
color:white;
opacity:0.9;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-34ojqn-0c94a1901489012d52755b0bacf7e99b:hover .avia_button_background{
border-radius:0px 0px 0px 0px;
}
#top #wrap_all .avia-button.av-34ojqn-0c94a1901489012d52755b0bacf7e99b .avia-svg-icon svg:first-child{
fill:#d60e73;
stroke:#d60e73;
}
#top #wrap_all .avia-button.av-34ojqn-0c94a1901489012d52755b0bacf7e99b:hover .avia-svg-icon svg:first-child{
fill:white;
stroke:white;
}

.flex_column.av-b5hy7-269a8378501a3e010f7e6570e1f03a52{
width:74%;
margin-left:0;
}
#top .flex_column_table.av-equal-height-column-flextable.av-b5hy7-269a8378501a3e010f7e6570e1f03a52 .av-flex-placeholder{
width:4%;
}

.avia-image-container.av-mfz14n7a-eda4f6e44e45d5adbf1a2bddf2e71834 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-mfz14n7a-eda4f6e44e45d5adbf1a2bddf2e71834 .av-image-caption-overlay-center{
color:#ffffff;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-mgrp4glc-f762dc997096cb73b4d2f63415b55625 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-2bib3j-9026b34b763df67c2c3443bb992b5666 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mfz0wnuv-453a777564be9d55c52af20ae2705a7a .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-1vxe73-d1b7eca52f8037437dd90d0967b41510 .av-special-heading-tag{
font-size:0.8em;
}

.responsive #top #wrap_all .flex_cell.av-o8xdin-988b8d861e5d99772c639ed44cee4fef{
padding:0 20px 0 20px !important;
}

.responsive #top #wrap_all .flex_cell.av-mfz3itr8-d1f97ca5fd266adc900b0916f76aa7aa{
padding:0 20px 50px 20px !important;
}

#top #wrap_all .av-special-heading.av-23pj2n-40095c24e42f01bc48234b26b1f2f7ed .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-mfz1n7bs-3fc6aecd18b230688f972b2ad08c0a0c .av-special-heading-tag{
font-size:40px;
}

.responsive #top #wrap_all .flex_cell.av-mfz156zn-9e48700b2a835f75f67cae6219527453{
padding:50px 0px 0px 0px !important;
}

.flex_column.av-19ecnz-2eb260806151922669a069cecf87ca36{
padding:0px 30px 30px 30px;
}

#top #wrap_all .av-special-heading.av-aj8yf3-b1b33b007eabb92b6eb0a19cee637f01 .av-special-heading-tag{
font-size:40px;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-mgrp4glc-f762dc997096cb73b4d2f63415b55625 .av-special-heading-tag{
font-size:25px;
}
.av-special-heading.av-mgrp4glc-f762dc997096cb73b4d2f63415b55625 .av-subheading{
font-size:20px;
}

#top #wrap_all .av-special-heading.av-2bib3j-9026b34b763df67c2c3443bb992b5666 .av-special-heading-tag{
font-size:25px;
}
.av-special-heading.av-2bib3j-9026b34b763df67c2c3443bb992b5666 .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-mfz0wnuv-453a777564be9d55c52af20ae2705a7a .av-special-heading-tag{
font-size:40px;
}

#top .flex_column.av-8tlb0f-d430646006e179ec9815a0ee1a4b107c{
margin-top:0px;
}
.responsive #top #wrap_all .flex_column.av-8tlb0f-d430646006e179ec9815a0ee1a4b107c{
margin-top:0px;
}

#top .flex_column.av-kq49dr-7f239bc42d9a029a4c8c0628cd3411cb{
margin-top:0px;
}
.responsive #top #wrap_all .flex_column.av-kq49dr-7f239bc42d9a029a4c8c0628cd3411cb{
margin-top:0px;
}

#top .flex_column.av-gd540v-3ecedfe6ba13ab7d412047fb1f76e3ff{
margin-top:0px;
}
.responsive #top #wrap_all .flex_column.av-gd540v-3ecedfe6ba13ab7d412047fb1f76e3ff{
margin-top:0px;
}

#top .flex_column.av-14xlmn-de67ea90952e330309835529b3593a29{
margin-top:0px;
}
.responsive #top #wrap_all .flex_column.av-14xlmn-de67ea90952e330309835529b3593a29{
margin-top:0px;
}

#top .flex_column.av-6dfngv-3490898ec4fdb7601b2d2a4124126fbe{
margin-top:0px;
}
.responsive #top #wrap_all .flex_column.av-6dfngv-3490898ec4fdb7601b2d2a4124126fbe{
margin-top:0px;
}

#top #wrap_all .av-special-heading.av-1vxe73-d1b7eca52f8037437dd90d0967b41510 .av-special-heading-tag{
font-size:0.8em;
}

.responsive #top #wrap_all .flex_cell.av-o8xdin-988b8d861e5d99772c639ed44cee4fef{
padding:50px 20px 0 20px !important;
}

.responsive #top #wrap_all .flex_cell.av-mfz3itr8-d1f97ca5fd266adc900b0916f76aa7aa{
padding:0 20px 50px 20px !important;
}

.responsive #top #wrap_all .flex_cell.av-mfz2cn8s-164dd7981eccbf6eb03f69e98ca61ef7{
padding:50px 30px 50px 30px !important;
}

#top #wrap_all .av-special-heading.av-23pj2n-40095c24e42f01bc48234b26b1f2f7ed .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-mfz1n7bs-3fc6aecd18b230688f972b2ad08c0a0c .av-special-heading-tag{
font-size:40px;
}

.responsive #top #wrap_all .flex_cell.av-mfz156zn-9e48700b2a835f75f67cae6219527453{
padding:50px 0px 0px 0px !important;
}

#top .flex_column_table.av-equal-height-column-flextable.av-19ecnz-2eb260806151922669a069cecf87ca36{
margin-bottom:-20px;
}
.flex_column.av-19ecnz-2eb260806151922669a069cecf87ca36{
padding:0px 30px 30px 30px;
}

#top #wrap_all .av-special-heading.av-aj8yf3-b1b33b007eabb92b6eb0a19cee637f01 .av-special-heading-tag{
font-size:40px;
}

#top .flex_column_table.av-equal-height-column-flextable.av-b5hy7-269a8378501a3e010f7e6570e1f03a52{
margin-bottom:-20px;
}
}
