.avia-section.av-mgt1p5jm-055dfa10e1e7fdae0d07f0a5264c839f{
background-repeat:no-repeat;
background-image:url(../../2025/10/BKE-banner-2.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

#top .av-special-heading.av-mgt1lx0q-37b9d6bc559845939c1c7806c85419d8{
padding-bottom:10px;
color:#006e6e;
font-size:75px;
}
body .av-special-heading.av-mgt1lx0q-37b9d6bc559845939c1c7806c85419d8 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mgt1lx0q-37b9d6bc559845939c1c7806c85419d8 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-mgt1lx0q-37b9d6bc559845939c1c7806c85419d8 .special-heading-inner-border{
border-color:#006e6e;
}
.av-special-heading.av-mgt1lx0q-37b9d6bc559845939c1c7806c85419d8 .av-subheading{
font-size:18px;
color:#3d3a39;
}

.avia-section.av-mgt1r22n-afce1599afdc2c95544531ca9e289c9e{
background-color:#cae08d;
background-image:unset;
}

#top .av-special-heading.av-mgt1rj8i-686bac3ba3902d055af6be72cd82649c{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#0e6f30;
font-size:58px;
}
body .av-special-heading.av-mgt1rj8i-686bac3ba3902d055af6be72cd82649c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mgt1rj8i-686bac3ba3902d055af6be72cd82649c .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mgt1rj8i-686bac3ba3902d055af6be72cd82649c .special-heading-inner-border{
border-color:#0e6f30;
}
.av-special-heading.av-mgt1rj8i-686bac3ba3902d055af6be72cd82649c .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mgt1rmli-5c157f8fc5af3cf59cb20c86295d16c0{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#0e6f30;
}
body .av-special-heading.av-mgt1rmli-5c157f8fc5af3cf59cb20c86295d16c0 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mgt1rmli-5c157f8fc5af3cf59cb20c86295d16c0 .special-heading-inner-border{
border-color:#0e6f30;
}
.av-special-heading.av-mgt1rmli-5c157f8fc5af3cf59cb20c86295d16c0 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-a5yspz-315559eaa18f605e8425fe9628b9c73c{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#3c989c;
font-size:58px;
}
body .av-special-heading.av-a5yspz-315559eaa18f605e8425fe9628b9c73c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-a5yspz-315559eaa18f605e8425fe9628b9c73c .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-a5yspz-315559eaa18f605e8425fe9628b9c73c .special-heading-inner-border{
border-color:#3c989c;
}
.av-special-heading.av-a5yspz-315559eaa18f605e8425fe9628b9c73c .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-8lfwjr-89f721c8891ba623e3bc118457ebdff8{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#3c989c;
}
body .av-special-heading.av-8lfwjr-89f721c8891ba623e3bc118457ebdff8 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-8lfwjr-89f721c8891ba623e3bc118457ebdff8 .special-heading-inner-border{
border-color:#3c989c;
}
.av-special-heading.av-8lfwjr-89f721c8891ba623e3bc118457ebdff8 .av-subheading{
font-size:15px;
}

.flex_cell.av-rdx987-15050917ecc57c29e2484ea0a75f6489{
vertical-align:middle;
background-color:#ea5e87;
}
.responsive #top #wrap_all .flex_cell.av-rdx987-15050917ecc57c29e2484ea0a75f6489{
padding:50px 50px 50px 50px !important;
}

#top .av-special-heading.av-2aw95j-de1650e5c1c396b75a10e4424905d928{
margin:0px 0px 0px 0px;
padding-bottom:10px;
font-size:58px;
}
body .av-special-heading.av-2aw95j-de1650e5c1c396b75a10e4424905d928 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2aw95j-de1650e5c1c396b75a10e4424905d928 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-2aw95j-de1650e5c1c396b75a10e4424905d928 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-k9154n-8efd267b25d55122c15a1e8e8c47e7b0{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-k9154n-8efd267b25d55122c15a1e8e8c47e7b0 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-k9154n-8efd267b25d55122c15a1e8e8c47e7b0 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-ihjh6f-158afb5f53a6a6139c7e4bbe3c03cbef .avia_textblock{
color:#3d3a39;
}

.flex_cell.av-funes7-8bbdc237a7cc4d402932788c797b12bc{
vertical-align:middle;
background:url(../../2025/10/PHILANTHROPY.jpg) 50% 50% no-repeat scroll ;
}
.responsive #top #wrap_all .flex_cell.av-funes7-8bbdc237a7cc4d402932788c797b12bc{
padding:50px 0px 50px 0px !important;
}

#top .hr.hr-invisible.av-mih8juo5-65f6b02d6254c6adb7fb81f3bc82a53d{
height:350px;
}

.flex_cell.av-mgt2qqsb-6fbec25136f0f1cc76940cd5a9fd1bec{
vertical-align:middle;
background:url(../../2025/10/RENEWABLE-ENERGY.jpg) 50% 50% no-repeat scroll ;
}
.responsive #top #wrap_all .flex_cell.av-mgt2qqsb-6fbec25136f0f1cc76940cd5a9fd1bec{
padding:50px 0px 50px 0px !important;
}

#top .hr.hr-invisible.av-32thfb-8e3c21df4934c154bedab272fce121b5{
height:350px;
}

.flex_cell.av-mgt2q87y-936429b10ca5dc1eaf3fc808a27cef9a{
vertical-align:middle;
background-color:#f5dd61;
}
.responsive #top #wrap_all .flex_cell.av-mgt2q87y-936429b10ca5dc1eaf3fc808a27cef9a{
padding:50px 50px 50px 50px !important;
}

#top .av-special-heading.av-55cyd3-3c3fc5d94c1ccd8eb3576367195adec5{
margin:0px 0px 0px 0px;
padding-bottom:10px;
font-size:58px;
}
body .av-special-heading.av-55cyd3-3c3fc5d94c1ccd8eb3576367195adec5 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-55cyd3-3c3fc5d94c1ccd8eb3576367195adec5 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-55cyd3-3c3fc5d94c1ccd8eb3576367195adec5 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-47abev-db0258eed650ef7ee90eeab9b9b8b6f3{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-47abev-db0258eed650ef7ee90eeab9b9b8b6f3 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-47abev-db0258eed650ef7ee90eeab9b9b8b6f3 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-24kezr-023cab70322b3eae149653a4440bbbf4 .avia_textblock{
color:#3d3a39;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-mgt1lx0q-37b9d6bc559845939c1c7806c85419d8 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mgt1rj8i-686bac3ba3902d055af6be72cd82649c .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-a5yspz-315559eaa18f605e8425fe9628b9c73c .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-2aw95j-de1650e5c1c396b75a10e4424905d928 .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-55cyd3-3c3fc5d94c1ccd8eb3576367195adec5 .av-special-heading-tag{
font-size:40px;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-mgt1lx0q-37b9d6bc559845939c1c7806c85419d8 .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-mgt1lx0q-37b9d6bc559845939c1c7806c85419d8 .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-mgt1rj8i-686bac3ba3902d055af6be72cd82649c .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-a5yspz-315559eaa18f605e8425fe9628b9c73c .av-special-heading-tag{
font-size:0.8em;
}

.responsive #top #wrap_all .flex_cell.av-rdx987-15050917ecc57c29e2484ea0a75f6489{
padding:50px 30px 50px 30px !important;
}

#top #wrap_all .av-special-heading.av-2aw95j-de1650e5c1c396b75a10e4424905d928 .av-special-heading-tag{
font-size:40px;
}

.responsive #top #wrap_all .flex_cell.av-mgt2qqsb-6fbec25136f0f1cc76940cd5a9fd1bec{
padding:50px 30px 50px 30px !important;
}

#top #wrap_all .av-special-heading.av-55cyd3-3c3fc5d94c1ccd8eb3576367195adec5 .av-special-heading-tag{
font-size:40px;
}
}
