.avia-section.av-36d4q-8261374ab81b7b897fb185427d2bbb68{
background-repeat:no-repeat;
background-image:url(../../2026/08/BKE-banner-養顏美容.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-7gg9fe-37d8684ae8f598102e207cf28cf5ae5d{
height:190px;
}

#top .hr.hr-invisible.av-6lv82y-351a704ba91837ff5d9fe60fe86caa2e{
height:190px;
}

#top .av-special-heading.av-2ilfvu-04e15f8548d1d20efa3bd5c7df562611{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-2ilfvu-04e15f8548d1d20efa3bd5c7df562611 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2ilfvu-04e15f8548d1d20efa3bd5c7df562611 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-2ilfvu-04e15f8548d1d20efa3bd5c7df562611 .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-2ilfvu-04e15f8548d1d20efa3bd5c7df562611 .av-subheading{
font-size:18px;
color:#3d3a39;
}

.avia-section.av-2ehyymy-e0ae0bd60bb38c8a1b05d91cd63d7b6c{
background-repeat:no-repeat;
background-image:url(../../2025/09/BKE_slider-1-1.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

#top .av-special-heading.av-2azrpje-3ccadd8eee80b9acb2a4b324eba7d7f0{
padding-bottom:10px;
color:#6b6491;
font-size:75px;
}
body .av-special-heading.av-2azrpje-3ccadd8eee80b9acb2a4b324eba7d7f0 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2azrpje-3ccadd8eee80b9acb2a4b324eba7d7f0 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-2azrpje-3ccadd8eee80b9acb2a4b324eba7d7f0 .special-heading-inner-border{
border-color:#6b6491;
}
.av-special-heading.av-2azrpje-3ccadd8eee80b9acb2a4b324eba7d7f0 .av-subheading{
font-size:18px;
color:#3d3a39;
}

.avia-section.av-29ueq56-f78865661eef91ca5627420fb5dad5c4{
background-color:#3d3a39;
background-image:unset;
}

.avia-section.av-21ikegq-a5d50849ff6d6fab1c2c6df5dc88d81a{
background-color:#fbfbfb;
background-image:unset;
}

#top .flex_column_table.av-equal-height-column-flextable.av-msodbrav-e0da291af387a383d70ab6aa5efa65f8{
margin-top:-150px;
}
.flex_column.av-msodbrav-e0da291af387a383d70ab6aa5efa65f8{
padding:30px 30px 30px 30px;
height:700px;
background:url(../../2026/08/膠原蛋白-1.jpg) 50% 100% no-repeat scroll ;
}

#top .av-special-heading.av-msodceno-9de41c2093c41d66b93658bdd30fc672{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#ffffff;
font-size:70px;
}
body .av-special-heading.av-msodceno-9de41c2093c41d66b93658bdd30fc672 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-msodceno-9de41c2093c41d66b93658bdd30fc672 .av-special-heading-tag{
font-size:70px;
}
.av-special-heading.av-msodceno-9de41c2093c41d66b93658bdd30fc672 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-msodceno-9de41c2093c41d66b93658bdd30fc672 .av-subheading{
font-size:15px;
}

#top .hr.av-msoddqtq-f4e82818662e9045aa7d51e6383cef83{
margin-top:-15px;
margin-bottom:5px;
}
.hr.av-msoddqtq-f4e82818662e9045aa7d51e6383cef83 .hr-inner{
width:65%;
border-color:#ffffff;
}

#top .av-special-heading.av-msodd28x-756b23dc1936b2707ba777626cc751eb{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#ffffff;
font-size:55px;
}
body .av-special-heading.av-msodd28x-756b23dc1936b2707ba777626cc751eb .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-msodd28x-756b23dc1936b2707ba777626cc751eb .av-special-heading-tag{
font-size:55px;
}
.av-special-heading.av-msodd28x-756b23dc1936b2707ba777626cc751eb .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-msodd28x-756b23dc1936b2707ba777626cc751eb .av-subheading{
font-size:15px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-2ilfvu-04e15f8548d1d20efa3bd5c7df562611 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-2azrpje-3ccadd8eee80b9acb2a4b324eba7d7f0 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-msodceno-9de41c2093c41d66b93658bdd30fc672 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-msodd28x-756b23dc1936b2707ba777626cc751eb .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-2ilfvu-04e15f8548d1d20efa3bd5c7df562611 .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-2ilfvu-04e15f8548d1d20efa3bd5c7df562611 .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-2azrpje-3ccadd8eee80b9acb2a4b324eba7d7f0 .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-2azrpje-3ccadd8eee80b9acb2a4b324eba7d7f0 .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-msodceno-9de41c2093c41d66b93658bdd30fc672 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-msodd28x-756b23dc1936b2707ba777626cc751eb .av-special-heading-tag{
font-size:0.8em;
}
}
