.avia-section.av-kyqw2y-5ef7e8f552b17b57b957ab53b2756513{
background-repeat:no-repeat;
background-image:url(../../2026/02/BKE-banner-錠劑.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-mlj3hzu4-d22ac4f6d533f6fc5ecd6b4002a094e9{
height:380px;
}

#top .av-special-heading.av-h2wlii-955e3fbe5c8f97ace33c0e37c97bfe4f{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-h2wlii-955e3fbe5c8f97ace33c0e37c97bfe4f .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-h2wlii-955e3fbe5c8f97ace33c0e37c97bfe4f .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-h2wlii-955e3fbe5c8f97ace33c0e37c97bfe4f .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-h2wlii-955e3fbe5c8f97ace33c0e37c97bfe4f .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-1384ve2-805e76cf7104e17cb423fb7114c4dff1{
vertical-align:top;
background-color:#eadab9;
}
.responsive #top #wrap_all .flex_cell.av-1384ve2-805e76cf7104e17cb423fb7114c4dff1{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-xsl1qy-092f63b494445b7fdab0e09c14bcc691{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-xsl1qy-092f63b494445b7fdab0e09c14bcc691 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-xsl1qy-092f63b494445b7fdab0e09c14bcc691 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-xsl1qy-092f63b494445b7fdab0e09c14bcc691 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-xsl1qy-092f63b494445b7fdab0e09c14bcc691 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-w7yxu2-13b0dc40171084da033b3c04aa8ce558{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-w7yxu2-13b0dc40171084da033b3c04aa8ce558 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-w7yxu2-13b0dc40171084da033b3c04aa8ce558 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-w7yxu2-13b0dc40171084da033b3c04aa8ce558 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-u9yd3e-8dd89da1f490e475cf0af54b8560632e{
height:50px;
}

.av-horizontal-gallery.av-r1brei-11473460390eff95d726b235921ca964 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-q45hkq-e06f48cb526ffe6cf3a8d807a9d37231{
height:50px;
}

#top .av-special-heading.av-mlj4sci9-3031c6a7947217232a92b922e89bc1c7{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-mlj4sci9-3031c6a7947217232a92b922e89bc1c7 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mlj4sci9-3031c6a7947217232a92b922e89bc1c7 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mlj4sci9-3031c6a7947217232a92b922e89bc1c7 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-mlj4sci9-3031c6a7947217232a92b922e89bc1c7 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mlj4sx18-f007f1bcf4941e99f149db6679cb1b2a{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-mlj4sx18-f007f1bcf4941e99f149db6679cb1b2a .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mlj4sx18-f007f1bcf4941e99f149db6679cb1b2a .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-mlj4sx18-f007f1bcf4941e99f149db6679cb1b2a .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-9awfpm-ef4c4dcca034d2aafcdc3809ca23477b{
height:50px;
}

.av-horizontal-gallery.av-hngwqy-ebceac31e77641945b5bcf50188c3bc2 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-g3idlm-718a388290a3a39eed1c4be942ee8158{
height:50px;
}

#top .av-special-heading.av-mlj7pbiw-7469d932542b0840c610343397dd5b01{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-mlj7pbiw-7469d932542b0840c610343397dd5b01 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mlj7pbiw-7469d932542b0840c610343397dd5b01 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mlj7pbiw-7469d932542b0840c610343397dd5b01 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-mlj7pbiw-7469d932542b0840c610343397dd5b01 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mlj7pm90-51cc77fff9288c7d7f1350f13457f887{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-mlj7pm90-51cc77fff9288c7d7f1350f13457f887 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mlj7pm90-51cc77fff9288c7d7f1350f13457f887 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-mlj7pm90-51cc77fff9288c7d7f1350f13457f887 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-bvs22y-86bac315e69240217ee52474230aa669{
height:50px;
}

.av-horizontal-gallery.av-mlj7u8j5-252b752f5aa57a320c3b461b9bfda98d .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-9gqp5m-bf58c1b11c247e2e5cc72b6ad40aec6d{
height:50px;
}

#top .av-special-heading.av-mlj7vfl8-095d49bea692a3ef9051e04caa944666{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-mlj7vfl8-095d49bea692a3ef9051e04caa944666 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mlj7vfl8-095d49bea692a3ef9051e04caa944666 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mlj7vfl8-095d49bea692a3ef9051e04caa944666 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-mlj7vfl8-095d49bea692a3ef9051e04caa944666 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mlj7w0s2-63b2f6eb6d1d5e416ad6ff9066566a70{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-mlj7w0s2-63b2f6eb6d1d5e416ad6ff9066566a70 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mlj7w0s2-63b2f6eb6d1d5e416ad6ff9066566a70 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-mlj7w0s2-63b2f6eb6d1d5e416ad6ff9066566a70 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-6gk0tm-2c768ed6aee91a803c5eaf96fe6c8255{
height:50px;
}

.av-horizontal-gallery.av-mlj7zfnk-ba940af4129e05f4b751acfe8bb8cb27 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-3wzjze-26626497a3230426e5ab37079eb0aebb{
height:50px;
}

#top .av-special-heading.av-mlj83o7p-ad8e67b4f2ccf36c4544ef9850d794b2{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-mlj83o7p-ad8e67b4f2ccf36c4544ef9850d794b2 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mlj83o7p-ad8e67b4f2ccf36c4544ef9850d794b2 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-2t0xuy-15e4feafc3c11ce7218804eec3864c12{
height:50px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-h2wlii-955e3fbe5c8f97ace33c0e37c97bfe4f .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-xsl1qy-092f63b494445b7fdab0e09c14bcc691 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mlj4sci9-3031c6a7947217232a92b922e89bc1c7 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mlj7pbiw-7469d932542b0840c610343397dd5b01 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mlj7vfl8-095d49bea692a3ef9051e04caa944666 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-h2wlii-955e3fbe5c8f97ace33c0e37c97bfe4f .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-h2wlii-955e3fbe5c8f97ace33c0e37c97bfe4f .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-xsl1qy-092f63b494445b7fdab0e09c14bcc691 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mlj4sci9-3031c6a7947217232a92b922e89bc1c7 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mlj7pbiw-7469d932542b0840c610343397dd5b01 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mlj7vfl8-095d49bea692a3ef9051e04caa944666 .av-special-heading-tag{
font-size:0.8em;
}
}
