.avia-section.av-1kws3mw-c3a90efe5aa98ab752b652e413295142{
background-repeat:no-repeat;
background-image:url(../../2025/09/一站式服務-banner.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

#top .av-special-heading.av-1i5yknc-86d96cd21ac1b59f5de4226a6ba5fee8{
padding-bottom:10px;
color:#fcf9d9;
font-size:75px;
}
body .av-special-heading.av-1i5yknc-86d96cd21ac1b59f5de4226a6ba5fee8 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-1i5yknc-86d96cd21ac1b59f5de4226a6ba5fee8 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-1i5yknc-86d96cd21ac1b59f5de4226a6ba5fee8 .special-heading-inner-border{
border-color:#fcf9d9;
}
.av-special-heading.av-1i5yknc-86d96cd21ac1b59f5de4226a6ba5fee8 .av-subheading{
font-size:18px;
color:#3d3a39;
}

.avia-section.av-1g3cqu0-f09c10a2e3613b74fd6bb6ba7724fbea{
background-color:#3d3a39;
background-image:unset;
margin-top:0px;
}

#top .hr.hr-invisible.av-1eullag-d107aedf421c06003ecb2d678422000a{
height:300px;
}

#top .hr.hr-invisible.av-1c5sq1k-2bc35d42e42702808674e70692353b66{
height:70px;
}

.avia-section.av-1auu1ug-001497a9173bb7e8a79918adffea58ba{
background-color:#ffffff;
background-image:unset;
}

#top .flex_column_table.av-equal-height-column-flextable.av-19qbxk8-e026dd47e5dd05997c0a45c5a66d6181{
margin-top:-355px;
}

#top .hr.hr-invisible.av-18jlv6w-0724db7e56ce570cb3f9749c00469a64{
height:180px;
}

#top .av-special-heading.av-16puyuw-343e3484266c944e5356c1fa585d3a6a{
padding-bottom:0;
color:#eac21d;
font-size:58px;
}
body .av-special-heading.av-16puyuw-343e3484266c944e5356c1fa585d3a6a .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-16puyuw-343e3484266c944e5356c1fa585d3a6a .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-16puyuw-343e3484266c944e5356c1fa585d3a6a .special-heading-inner-border{
border-color:#eac21d;
}
.av-special-heading.av-16puyuw-343e3484266c944e5356c1fa585d3a6a .av-subheading{
font-size:30px;
}

#top .hr.hr-invisible.av-146td14-b77f2f09543d10640392812838d4845a{
margin-top:-50px;
height:1px;
}

#top .av-special-heading.av-12t1b54-0a47b5df4adee7a951b9561ea20bd002{
padding-bottom:0;
color:#eac21d;
font-size:30px;
}
body .av-special-heading.av-12t1b54-0a47b5df4adee7a951b9561ea20bd002 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-12t1b54-0a47b5df4adee7a951b9561ea20bd002 .av-special-heading-tag{
font-size:30px;
}
.av-special-heading.av-12t1b54-0a47b5df4adee7a951b9561ea20bd002 .special-heading-inner-border{
border-color:#eac21d;
}
.av-special-heading.av-12t1b54-0a47b5df4adee7a951b9561ea20bd002 .av-subheading{
font-size:30px;
}

#top .hr.hr-invisible.av-11i9a54-6902d98196c39091767dbcdbbd8cf93c{
height:50px;
}

#top .av_textblock_section.av-z4yiaw-15272cc0a7c680d020d3ee5ed205f613 .avia_textblock{
font-size:18px;
}

#top .flex_column_table.av-equal-height-column-flextable.av-xaxr14-539383ef7d81033898239b2c0ea42e68{
margin-top:-355px;
}

.avia-image-container.av-wjjdrs-7f3c28c3f47a547f13dcb76120e4601c img.avia_image{
box-shadow:none;
}
.avia-image-container.av-wjjdrs-7f3c28c3f47a547f13dcb76120e4601c .av-image-caption-overlay-center{
color:#ffffff;
}

#top .avia-gallery.av-mi2vgmvc-53267971b564f34f9c37051ee30e13b2 .avia-gallery-thumb a{
width:20%;
}

#top .avia-gallery.av-mi2l8n7o-3187aace0fd5e881387f37265d359f90 .avia-gallery-thumb a{
width:20%;
}

#top .avia-icon-list-container.av-mi2lgirb-7fc79b04103b54590de750cfd299a8e2 .iconlist_icon{
font-size:20px;
}
#top .avia-icon-list-container.av-mi2lgirb-7fc79b04103b54590de750cfd299a8e2 .iconlist_icon svg:first-child{
height:20px;
width:20px;
}
#top #wrap_all .avia-icon-list-container.av-mi2lgirb-7fc79b04103b54590de750cfd299a8e2 .av_iconlist_title{
font-size:20px;
}
.avia-icon-list-container.av-mi2lgirb-7fc79b04103b54590de750cfd299a8e2 .iconlist_content{
font-size:14px;
}

#top .hr.hr-invisible.av-vbkqgo-44916525b9a6e5875de73bee2b95ee1c{
height:40px;
}

#top .av-special-heading.av-s2v4qw-7a90c1704f1d3fb812f1803e94e8232d{
margin:0px 0px 0px 0px;
padding-bottom:10px;
font-size:58px;
}
body .av-special-heading.av-s2v4qw-7a90c1704f1d3fb812f1803e94e8232d .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-s2v4qw-7a90c1704f1d3fb812f1803e94e8232d .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-s2v4qw-7a90c1704f1d3fb812f1803e94e8232d .av-subheading{
font-size:15px;
}

.avia-section.av-qf42h4-078f26e3cea66fb433de34f1df98f4ac{
background-color:#f5dd61;
background-image:unset;
}

#top .hr.hr-invisible.av-nzlzp4-854b98088eda5c2cfbb990463e7d4652{
height:30px;
}

#top .av-special-heading.av-2091ug-2388166a00931ac8216af4410a43f21d{
padding-bottom:0;
color:#3d3a39;
font-size:30px;
}
body .av-special-heading.av-2091ug-2388166a00931ac8216af4410a43f21d .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2091ug-2388166a00931ac8216af4410a43f21d .av-special-heading-tag{
font-size:30px;
}
.av-special-heading.av-2091ug-2388166a00931ac8216af4410a43f21d .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-2091ug-2388166a00931ac8216af4410a43f21d .av-subheading{
font-size:30px;
}

#top .hr.hr-invisible.av-im7448-d7b9d92ef8ab10384dbcf1d1de45868b{
height:140px;
}

.avia-section.av-hty3go-8a6a8759355f8e728480d45bba4a4660{
background-color:#3d3a39;
background-image:unset;
}

@keyframes av_boxShadowEffect_av-g706ko-f8ae96d7cb34825d62208b2b68f11aa7-column {
0%   { box-shadow:  0 0 0 0 rgba(243,209,31,0.27); opacity: 1; }
100% { box-shadow:  0 0 10px 0 rgba(243,209,31,0.27); opacity: 1; }
}
.flex_column.av-g706ko-f8ae96d7cb34825d62208b2b68f11aa7{
width:16.8%;
box-shadow: 0 0 10px 0 rgba(243,209,31,0.27);
border-width:5px;
border-color:#f3d11f;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}

#top .av-special-heading.av-cfjuqg-a62cd4a33931e3dd265d5b80ef99b7a8{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-cfjuqg-a62cd4a33931e3dd265d5b80ef99b7a8 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-cfjuqg-a62cd4a33931e3dd265d5b80ef99b7a8 .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-cfjuqg-a62cd4a33931e3dd265d5b80ef99b7a8 .av-subheading{
font-size:15px;
color:#717171;
}

@keyframes av_boxShadowEffect_av-jkeiw-8ebe9d0b154a1067393260879b1fddeb-column {
0%   { box-shadow:  0 0 0 0 rgba(243,209,31,0.27); opacity: 1; }
100% { box-shadow:  0 0 10px 0 rgba(243,209,31,0.27); opacity: 1; }
}
.flex_column.av-jkeiw-8ebe9d0b154a1067393260879b1fddeb{
width:16.8%;
margin-left:4%;
box-shadow: 0 0 10px 0 rgba(243,209,31,0.27);
border-width:5px;
border-color:#f3d11f;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}

#top .av-special-heading.av-2kcn88-f72772e2f9cac7e9e7df1786aecb7a57{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-2kcn88-f72772e2f9cac7e9e7df1786aecb7a57 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2kcn88-f72772e2f9cac7e9e7df1786aecb7a57 .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-2kcn88-f72772e2f9cac7e9e7df1786aecb7a57 .av-subheading{
font-size:15px;
color:#717171;
}

@keyframes av_boxShadowEffect_av-ao1jmw-96263979ae03919b99634a2bb73e7d02-column {
0%   { box-shadow:  0 0 0 0 #f3d11f; opacity: 1; }
100% { box-shadow:  0 0 5px 0 #f3d11f; opacity: 1; }
}
.flex_column.av-ao1jmw-96263979ae03919b99634a2bb73e7d02{
width:16.8%;
margin-left:4%;
box-shadow: 0 0 5px 0 #f3d11f;
border-width:5px;
border-color:#f3d11f;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}

#top .av-special-heading.av-7oonu0-1533f424bfb93b46f639647c86550f25{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-7oonu0-1533f424bfb93b46f639647c86550f25 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-7oonu0-1533f424bfb93b46f639647c86550f25 .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-7oonu0-1533f424bfb93b46f639647c86550f25 .av-subheading{
font-size:15px;
color:#717171;
}

@keyframes av_boxShadowEffect_av-67r85k-8435f7ddc74643a88355f3aa8d452c9e-column {
0%   { box-shadow:  0 0 0 0 rgba(243,209,31,0.27); opacity: 1; }
100% { box-shadow:  0 0 10px 0 rgba(243,209,31,0.27); opacity: 1; }
}
.flex_column.av-67r85k-8435f7ddc74643a88355f3aa8d452c9e{
width:16.8%;
margin-left:4%;
box-shadow: 0 0 10px 0 rgba(243,209,31,0.27);
border-width:5px;
border-color:#f3d11f;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}

#top .av-special-heading.av-2racfc-a8df66222547186fd77ffd0670a16f82{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-2racfc-a8df66222547186fd77ffd0670a16f82 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2racfc-a8df66222547186fd77ffd0670a16f82 .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-2racfc-a8df66222547186fd77ffd0670a16f82 .av-subheading{
font-size:15px;
color:#717171;
}

@keyframes av_boxShadowEffect_av-5o87ig-56e449d8ec97e4cd37c3931f2678a5ea-column {
0%   { box-shadow:  0 0 0 0 rgba(243,209,31,0.27); opacity: 1; }
100% { box-shadow:  0 0 10px 0 rgba(243,209,31,0.27); opacity: 1; }
}
.flex_column.av-5o87ig-56e449d8ec97e4cd37c3931f2678a5ea{
width:16.8%;
margin-left:4%;
box-shadow: 0 0 10px 0 rgba(243,209,31,0.27);
border-width:5px;
border-color:#f3d11f;
border-style:solid;
border-radius:500px 500px 500px 500px;
padding:10px 10px 10px 10px;
background-color:#ffffff;
}

#top .av-special-heading.av-actso-8edc06275cecad36989ee2cf27c55285{
margin:-20px 0px 0px 0px;
padding-bottom:10px;
color:#221714;
}
body .av-special-heading.av-actso-8edc06275cecad36989ee2cf27c55285 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-actso-8edc06275cecad36989ee2cf27c55285 .special-heading-inner-border{
border-color:#221714;
}
.av-special-heading.av-actso-8edc06275cecad36989ee2cf27c55285 .av-subheading{
font-size:15px;
color:#717171;
}

.flex_cell.av-mhltupdw-69c391398c37f4ad2db89682756c9161{
vertical-align:top;
background:url(../../2025/09/資產-58.jpg) 50% 0% no-repeat scroll ;
}
.responsive #top #wrap_all .flex_cell.av-mhltupdw-69c391398c37f4ad2db89682756c9161{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-mhltuzkr-69c1b6f21ef198fe229124277f5fe810{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#f7e190;
font-size:58px;
}
body .av-special-heading.av-mhltuzkr-69c1b6f21ef198fe229124277f5fe810 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mhltuzkr-69c1b6f21ef198fe229124277f5fe810 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mhltuzkr-69c1b6f21ef198fe229124277f5fe810 .special-heading-inner-border{
border-color:#f7e190;
}
.av-special-heading.av-mhltuzkr-69c1b6f21ef198fe229124277f5fe810 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mhltv3op-9033847096c94a156a349d59f3103f95{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#f7e190;
}
body .av-special-heading.av-mhltv3op-9033847096c94a156a349d59f3103f95 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mhltv3op-9033847096c94a156a349d59f3103f95 .special-heading-inner-border{
border-color:#f7e190;
}
.av-special-heading.av-mhltv3op-9033847096c94a156a349d59f3103f95 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-9ohytk-07042a8ae2f3af018919b1067b664ab7{
height:50px;
}

.av-horizontal-gallery.av-mszg91jd-9f35550b98b3595bf82cd81cdb50618c .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-jr3ldk-ecb992d75d6df7ad4300a904746a45ea{
height:50px;
}

#top .av-special-heading.av-ml67roi1-fc7fd2b9e34c3a532b03f5a5c38c33ad{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#796956;
font-size:58px;
}
body .av-special-heading.av-ml67roi1-fc7fd2b9e34c3a532b03f5a5c38c33ad .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-ml67roi1-fc7fd2b9e34c3a532b03f5a5c38c33ad .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-ml67roi1-fc7fd2b9e34c3a532b03f5a5c38c33ad .special-heading-inner-border{
border-color:#796956;
}
.av-special-heading.av-ml67roi1-fc7fd2b9e34c3a532b03f5a5c38c33ad .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-ml67sc56-cb27b677564b691e76e92e4db5909045{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#796956;
}
body .av-special-heading.av-ml67sc56-cb27b677564b691e76e92e4db5909045 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-ml67sc56-cb27b677564b691e76e92e4db5909045 .special-heading-inner-border{
border-color:#796956;
}
.av-special-heading.av-ml67sc56-cb27b677564b691e76e92e4db5909045 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-mhltvax0-ba9b100a69fdd405097a4766898f2353{
height:50px;
}

.av-horizontal-gallery.av-mszo83u6-24d9809259485802f507a4d4d9bf58c2 .av-horizontal-gallery-inner{
padding-bottom:30%;
}
.av-horizontal-gallery.av-mszo83u6-24d9809259485802f507a4d4d9bf58c2 .av-image-copyright{
color:#ffffff;
}

#top .hr.hr-invisible.av-2t4seg-f7cd559cc57b50c6fa85a9831dcaa593{
height:50px;
}

#top .av-special-heading.av-mhltzthi-bc87a4d913b0a5d31cb2dc9999db59ea{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#b39a73;
font-size:58px;
}
body .av-special-heading.av-mhltzthi-bc87a4d913b0a5d31cb2dc9999db59ea .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mhltzthi-bc87a4d913b0a5d31cb2dc9999db59ea .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mhltzthi-bc87a4d913b0a5d31cb2dc9999db59ea .special-heading-inner-border{
border-color:#b39a73;
}
.av-special-heading.av-mhltzthi-bc87a4d913b0a5d31cb2dc9999db59ea .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mhltzz01-d321266fd28d3aecfddab1e2033654c7{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#b39a73;
}
body .av-special-heading.av-mhltzz01-d321266fd28d3aecfddab1e2033654c7 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mhltzz01-d321266fd28d3aecfddab1e2033654c7 .special-heading-inner-border{
border-color:#b39a73;
}
.av-special-heading.av-mhltzz01-d321266fd28d3aecfddab1e2033654c7 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-5581vs-14d1785ca9dbab34a2f183c79bc601e6{
height:50px;
}

.av-horizontal-gallery.av-fo4b9k-2f2b72690beca1f1c7b84670b8bb9a81 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-4cmtew-9c4a9f0ca32fcf81494ee18255536942{
height:50px;
}

.flex_cell.av-ml68878s-a52b0846f9865a2be4c8259669771c4e{
vertical-align:top;
background-color:#000000;
}
.responsive #top #wrap_all .flex_cell.av-ml68878s-a52b0846f9865a2be4c8259669771c4e{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-mhlu18m2-470fd356796a282e6825d787fce9773d{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#ea5e87;
font-size:58px;
}
body .av-special-heading.av-mhlu18m2-470fd356796a282e6825d787fce9773d .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mhlu18m2-470fd356796a282e6825d787fce9773d .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mhlu18m2-470fd356796a282e6825d787fce9773d .special-heading-inner-border{
border-color:#ea5e87;
}
.av-special-heading.av-mhlu18m2-470fd356796a282e6825d787fce9773d .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mhlu1dnb-7a6a05a62745d24adac383ed42ea7069{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#ea5e87;
}
body .av-special-heading.av-mhlu1dnb-7a6a05a62745d24adac383ed42ea7069 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mhlu1dnb-7a6a05a62745d24adac383ed42ea7069 .special-heading-inner-border{
border-color:#ea5e87;
}
.av-special-heading.av-mhlu1dnb-7a6a05a62745d24adac383ed42ea7069 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-19em6g-abdabd5325ecf6df9494be53eca1c89f{
height:50px;
}

.av-horizontal-gallery.av-93nsnc-7565741d591c607b8f12565083826ba7 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-mii7myny-5ad7ff730276260ecf8cf52cd3339872{
height:30px;
}

.avia-section.av-hf6z3c-12bf34bf55873569cf2c768e9cd582e7{
background-color:#03070a;
background-image:unset;
}

#top .av-special-heading.av-dpvlbc-4923c100e68c032cd2c6c924b963757e{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#ea5e87;
font-size:58px;
}
body .av-special-heading.av-dpvlbc-4923c100e68c032cd2c6c924b963757e .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-dpvlbc-4923c100e68c032cd2c6c924b963757e .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-dpvlbc-4923c100e68c032cd2c6c924b963757e .special-heading-inner-border{
border-color:#ea5e87;
}
.av-special-heading.av-dpvlbc-4923c100e68c032cd2c6c924b963757e .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-cwchpk-c5ceae10b52099d0c625a62d1c4c1c39{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#ea5e87;
}
body .av-special-heading.av-cwchpk-c5ceae10b52099d0c625a62d1c4c1c39 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-cwchpk-c5ceae10b52099d0c625a62d1c4c1c39 .special-heading-inner-border{
border-color:#ea5e87;
}
.av-special-heading.av-cwchpk-c5ceae10b52099d0c625a62d1c4c1c39 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-asx32w-38c2e1dfa678a2d26d40e5699f2b12a9{
height:50px;
}

.av-horizontal-gallery.av-tirrc-7292ad1322c7db93747a1934a04672a1 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-2pj46w-35a461944bad516022b9907438e9703c{
height:30px;
}

.flex_cell.av-bjasw8-a4d73ecd41974d9e647b75ba575f2ec0{
vertical-align:top;
background-color:#000000;
}
.responsive #top #wrap_all .flex_cell.av-bjasw8-a4d73ecd41974d9e647b75ba575f2ec0{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-mn2rgcnd-d6bd8f567401399362498c2690251bcf{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#fbdea5;
font-size:58px;
}
body .av-special-heading.av-mn2rgcnd-d6bd8f567401399362498c2690251bcf .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mn2rgcnd-d6bd8f567401399362498c2690251bcf .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mn2rgcnd-d6bd8f567401399362498c2690251bcf .special-heading-inner-border{
border-color:#fbdea5;
}
.av-special-heading.av-mn2rgcnd-d6bd8f567401399362498c2690251bcf .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mn2rcxhh-4e062209e8b71e0f0c3e995584ce2dd9{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#fbdea5;
}
body .av-special-heading.av-mn2rcxhh-4e062209e8b71e0f0c3e995584ce2dd9 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mn2rcxhh-4e062209e8b71e0f0c3e995584ce2dd9 .special-heading-inner-border{
border-color:#fbdea5;
}
.av-special-heading.av-mn2rcxhh-4e062209e8b71e0f0c3e995584ce2dd9 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-7pc8lk-945336e7c7a6e2dfa3c1c60e6fccdaf8{
height:50px;
}

.av-horizontal-gallery.av-mszob6hi-54d4c8a697460c6f052f0ddc1699c1df .av-horizontal-gallery-inner{
padding-bottom:30%;
}
.av-horizontal-gallery.av-mszob6hi-54d4c8a697460c6f052f0ddc1699c1df .av-image-copyright{
color:#ffffff;
}

#top .hr.hr-invisible.av-2n1qlk-7726d69d0e2fc8b8819fbe0fbc9a02ba{
height:30px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-1i5yknc-86d96cd21ac1b59f5de4226a6ba5fee8 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-16puyuw-343e3484266c944e5356c1fa585d3a6a .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-12t1b54-0a47b5df4adee7a951b9561ea20bd002 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-s2v4qw-7a90c1704f1d3fb812f1803e94e8232d .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-2091ug-2388166a00931ac8216af4410a43f21d .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mhltuzkr-69c1b6f21ef198fe229124277f5fe810 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-ml67roi1-fc7fd2b9e34c3a532b03f5a5c38c33ad .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mhltzthi-bc87a4d913b0a5d31cb2dc9999db59ea .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mhlu18m2-470fd356796a282e6825d787fce9773d .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-dpvlbc-4923c100e68c032cd2c6c924b963757e .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mn2rgcnd-d6bd8f567401399362498c2690251bcf .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-1i5yknc-86d96cd21ac1b59f5de4226a6ba5fee8 .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-1i5yknc-86d96cd21ac1b59f5de4226a6ba5fee8 .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-16puyuw-343e3484266c944e5356c1fa585d3a6a .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-12t1b54-0a47b5df4adee7a951b9561ea20bd002 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-s2v4qw-7a90c1704f1d3fb812f1803e94e8232d .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-2091ug-2388166a00931ac8216af4410a43f21d .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mhltuzkr-69c1b6f21ef198fe229124277f5fe810 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-ml67roi1-fc7fd2b9e34c3a532b03f5a5c38c33ad .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mhltzthi-bc87a4d913b0a5d31cb2dc9999db59ea .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mhlu18m2-470fd356796a282e6825d787fce9773d .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-dpvlbc-4923c100e68c032cd2c6c924b963757e .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mn2rgcnd-d6bd8f567401399362498c2690251bcf .av-special-heading-tag{
font-size:0.8em;
}
}
