.avia-section.av-mlj8jnge-4ff323f1c58716d31dc7bf44475ba9fa{
background-repeat:no-repeat;
background-image:url(../../2026/02/BKE-banner-植物膠囊.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-1pv5skz-f705aad61da7828bf4e2206b0b7699b0{
height:380px;
}

#top .av-special-heading.av-mlj8g7x5-33a49655d482b6c6b63bbef57c861f14{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-mlj8g7x5-33a49655d482b6c6b63bbef57c861f14 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mlj8g7x5-33a49655d482b6c6b63bbef57c861f14 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-mlj8g7x5-33a49655d482b6c6b63bbef57c861f14 .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-mlj8g7x5-33a49655d482b6c6b63bbef57c861f14 .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-1kjxksj-dcf1b05a8002d4ead8be7e432aec2aad{
vertical-align:top;
background-color:#aad0c5;
background:linear-gradient( to bottom, #aad0c5, #aad0c5, #95c6c6 );
}
.responsive #top #wrap_all .flex_cell.av-1kjxksj-dcf1b05a8002d4ead8be7e432aec2aad{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-59do2r-a7c7793670821934624f5ab4c7293378{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-59do2r-a7c7793670821934624f5ab4c7293378 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-59do2r-a7c7793670821934624f5ab4c7293378 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-59do2r-a7c7793670821934624f5ab4c7293378 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-59do2r-a7c7793670821934624f5ab4c7293378 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-1e7bjxf-65289aa9c0256f55333fa30ee0f82aca{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-1e7bjxf-65289aa9c0256f55333fa30ee0f82aca .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1e7bjxf-65289aa9c0256f55333fa30ee0f82aca .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-1e7bjxf-65289aa9c0256f55333fa30ee0f82aca .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-4ufwib-9d320b342faec44c4ac9128355bd71ac{
height:50px;
}

.av-horizontal-gallery.av-1949ek3-c32069b05ba749fadbd983eb31c0ba55 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-3v3tr7-02ee6e7797972ac3641adda3ba0e89d7{
height:50px;
}

.avia-section.av-mlj9wui2-291461a99aa2e9a73d58ca31a5c02831{
background-color:#95c6c6;
background-image:unset;
}

#top .av-special-heading.av-bbbls3-380051b6dccf5700b033320b8da77896{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-bbbls3-380051b6dccf5700b033320b8da77896 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-bbbls3-380051b6dccf5700b033320b8da77896 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-bbbls3-380051b6dccf5700b033320b8da77896 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-bbbls3-380051b6dccf5700b033320b8da77896 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-987zj7-63b56dca62c18bd33dcb3dd4af8a97a0{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-987zj7-63b56dca62c18bd33dcb3dd4af8a97a0 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-987zj7-63b56dca62c18bd33dcb3dd4af8a97a0 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-987zj7-63b56dca62c18bd33dcb3dd4af8a97a0 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-7rt75f-2388bd094036394d8c33e0e650dc646d{
height:50px;
}

.av-horizontal-gallery.av-mlj9y6bt-8eeec645c836594dd397922f7aa2dca8 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

.av-horizontal-gallery.av-mlj9ylzz-79b69c73abcdb6cf651cfb9428e9b91e .av-horizontal-gallery-inner{
padding-bottom:50%;
}

#top .hr.hr-invisible.av-4dt1v7-7831b7f47ff634ccbc7da9326b130e85{
height:50px;
}

#top .av-special-heading.av-5kmrer-44cd194885841fa7d2b4722ad77a83f2{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-5kmrer-44cd194885841fa7d2b4722ad77a83f2 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-5kmrer-44cd194885841fa7d2b4722ad77a83f2 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-1zac8j-f93dac53015a7bf1ed81d4961bb0144d{
height:30px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-mlj8g7x5-33a49655d482b6c6b63bbef57c861f14 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-59do2r-a7c7793670821934624f5ab4c7293378 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-bbbls3-380051b6dccf5700b033320b8da77896 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-mlj8g7x5-33a49655d482b6c6b63bbef57c861f14 .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-mlj8g7x5-33a49655d482b6c6b63bbef57c861f14 .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-59do2r-a7c7793670821934624f5ab4c7293378 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-bbbls3-380051b6dccf5700b033320b8da77896 .av-special-heading-tag{
font-size:0.8em;
}
}
