.avia-section.av-mocj4eb1-8bde9b148d70e39505040850385ae15f{
background-repeat:no-repeat;
background-image:url(../../2026/04/玻璃瓶.jpg);
background-position:50% 100%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-rm5xuu-eca8e223c400748813c1024b7d93c9be{
height:380px;
}

#top .av-special-heading.av-ncp8yu-dbfe0ae85e9154333bc227af624edc30{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-ncp8yu-dbfe0ae85e9154333bc227af624edc30 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-ncp8yu-dbfe0ae85e9154333bc227af624edc30 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-ncp8yu-dbfe0ae85e9154333bc227af624edc30 .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-ncp8yu-dbfe0ae85e9154333bc227af624edc30 .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-moihutir-6ad262c16dd687dea9577f2b7038ffd7{
vertical-align:top;
background-color:#d0e9e1;
}
.responsive #top #wrap_all .flex_cell.av-moihutir-6ad262c16dd687dea9577f2b7038ffd7{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-ngns52-72eaadf55f28709de1aa022772c64764{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-ngns52-72eaadf55f28709de1aa022772c64764 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-ngns52-72eaadf55f28709de1aa022772c64764 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-ngns52-72eaadf55f28709de1aa022772c64764 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-ngns52-72eaadf55f28709de1aa022772c64764 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-ms7ibq-aab429104a69989d2dcc68a5deb6da0c{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-ms7ibq-aab429104a69989d2dcc68a5deb6da0c .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-ms7ibq-aab429104a69989d2dcc68a5deb6da0c .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-ms7ibq-aab429104a69989d2dcc68a5deb6da0c .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-khbbrq-510b59293cf2327cd0b37f5e80fbb357{
height:250px;
}

#top .hr.hr-invisible.av-jdk7pi-237a965a4702392ae68c319605856017{
margin-top:-10px;
height:1px;
}

.flex_cell.av-moihv292-19f75c6c48e75798bbeed9ff74b73c1a{
vertical-align:top;
background-color:#acdce4;
}
.responsive #top #wrap_all .flex_cell.av-moihv292-19f75c6c48e75798bbeed9ff74b73c1a{
padding:50px 0px 50px 0px !important;
}

#top .hr.hr-invisible.av-f98hrq-312e8289e749321855410eff49e126d2{
height:30px;
}

#top .flex_column.av-56sw6-4ccb06bd716b88099a5987dfe46199c3{
margin-top:-270px;
margin-bottom:0px;
}
.responsive #top #wrap_all .flex_column.av-56sw6-4ccb06bd716b88099a5987dfe46199c3{
margin-top:-270px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-c1091y-113812471859f5d1d6baa82f07e223d2{
margin-top:-10px;
height:1px;
}

.av-horizontal-gallery.av-mocj765s-3a6a910e9f8c1cf894f586b35350d154 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-apo2qu-6f5ac211c86201d701e422c6da8a2ba2{
height:50px;
}

#top .av-special-heading.av-7y76pi-f4fbe8f6a7b9fbb28523689b40226495{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-7y76pi-f4fbe8f6a7b9fbb28523689b40226495 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-7y76pi-f4fbe8f6a7b9fbb28523689b40226495 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-69z6va-005765dcf1b7004db835aee0b86f6078{
height:50px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-ncp8yu-dbfe0ae85e9154333bc227af624edc30 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-ngns52-72eaadf55f28709de1aa022772c64764 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-56sw6-4ccb06bd716b88099a5987dfe46199c3{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-56sw6-4ccb06bd716b88099a5987dfe46199c3{
margin-top:-200px;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-ncp8yu-dbfe0ae85e9154333bc227af624edc30 .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-ncp8yu-dbfe0ae85e9154333bc227af624edc30 .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-ngns52-72eaadf55f28709de1aa022772c64764 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-56sw6-4ccb06bd716b88099a5987dfe46199c3{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-56sw6-4ccb06bd716b88099a5987dfe46199c3{
margin-top:-200px;
}
}
