.avia-section.av-mociah7n-dab2263415d69821744ede27a4f1fddd{
background-repeat:no-repeat;
background-image:url(../../2026/04/玻璃瓶.jpg);
background-position:50% 100%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-r8y47t-5dc0e76455c425663893e64784724632{
height:380px;
}

#top .av-special-heading.av-nsy621-015ab2d6cbe536f554fbb3c667dceb47{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-nsy621-015ab2d6cbe536f554fbb3c667dceb47 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-nsy621-015ab2d6cbe536f554fbb3c667dceb47 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-nsy621-015ab2d6cbe536f554fbb3c667dceb47 .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-nsy621-015ab2d6cbe536f554fbb3c667dceb47 .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-moihndsl-f85c78b01c8c9d6f7ab573969e51f4c8{
vertical-align:top;
background-color:#fce2d8;
}
.responsive #top #wrap_all .flex_cell.av-moihndsl-f85c78b01c8c9d6f7ab573969e51f4c8{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-oe9p89-88b2f9471e63ca7ebd2cc4e06f812932{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-oe9p89-88b2f9471e63ca7ebd2cc4e06f812932 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-oe9p89-88b2f9471e63ca7ebd2cc4e06f812932 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-oe9p89-88b2f9471e63ca7ebd2cc4e06f812932 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-oe9p89-88b2f9471e63ca7ebd2cc4e06f812932 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mmvw61-09c321f0b0aacc5fa29e37d8a7fbeb8e{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-mmvw61-09c321f0b0aacc5fa29e37d8a7fbeb8e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mmvw61-09c321f0b0aacc5fa29e37d8a7fbeb8e .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-mmvw61-09c321f0b0aacc5fa29e37d8a7fbeb8e .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-l104qh-328f630cea032a55874eb2a0ecaeafcd{
height:250px;
}

#top .hr.hr-invisible.av-ikdjmh-65b4fb92ddaa9625e43380ec515fa379{
margin-top:-10px;
height:1px;
}

.flex_cell.av-moihnn5w-7548eaeb903ef4550a967c2c9f060f9b{
vertical-align:top;
background-color:#f1c6bb;
}
.responsive #top #wrap_all .flex_cell.av-moihnn5w-7548eaeb903ef4550a967c2c9f060f9b{
padding:50px 0px 50px 0px !important;
}

#top .hr.hr-invisible.av-fr1515-c26a4b0cc1ee1d9b8c531711641c6099{
height:30px;
}

#top .flex_column.av-duyv5l-7506685be9bbd516ddce41d240e8c02d{
margin-top:-270px;
margin-bottom:0px;
}
.responsive #top #wrap_all .flex_column.av-duyv5l-7506685be9bbd516ddce41d240e8c02d{
margin-top:-270px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-cp25vt-b795854d0b12161ad119fa58c596ca77{
margin-top:-10px;
height:1px;
}

.av-horizontal-gallery.av-mocicx2l-0904222a095419bda4f24cef8de9e31c .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-a5ehax-4a530751de34ff808185e28c86b113fa{
height:50px;
}

#top .av-special-heading.av-t6zzt-33a1acb053806dbffec926ec4d048021{
margin:0px 0px 0px 0px;
padding-bottom:10px;
}
body .av-special-heading.av-t6zzt-33a1acb053806dbffec926ec4d048021 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-t6zzt-33a1acb053806dbffec926ec4d048021 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-lm5gp-34bf045b04820fc9c2fedddfbfe90b72{
height:50px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-nsy621-015ab2d6cbe536f554fbb3c667dceb47 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-oe9p89-88b2f9471e63ca7ebd2cc4e06f812932 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-duyv5l-7506685be9bbd516ddce41d240e8c02d{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-duyv5l-7506685be9bbd516ddce41d240e8c02d{
margin-top:-200px;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-nsy621-015ab2d6cbe536f554fbb3c667dceb47 .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-nsy621-015ab2d6cbe536f554fbb3c667dceb47 .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-oe9p89-88b2f9471e63ca7ebd2cc4e06f812932 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-duyv5l-7506685be9bbd516ddce41d240e8c02d{
margin-top:-200px;
}
.responsive #top #wrap_all .flex_column.av-duyv5l-7506685be9bbd516ddce41d240e8c02d{
margin-top:-200px;
}
}
