.avia-section.av-12ej00e-68247d212722c62392621e18c6309cb9{
background-repeat:no-repeat;
background-image:url(../../2026/08/BKE-banner-養顏美容.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-117di32-575dd5ed9b47778d1995ffc6acf61d83{
height:190px;
}

#top .hr.hr-invisible.av-msocmdar-498a4a0a1b6fd886c8823aebff6bc402{
height:190px;
}

#top .av-special-heading.av-msob14de-9f7308ac5d05eba684f0d40e97c8ab54{
padding-bottom:10px;
color:#3d3a39;
font-size:75px;
}
body .av-special-heading.av-msob14de-9f7308ac5d05eba684f0d40e97c8ab54 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-msob14de-9f7308ac5d05eba684f0d40e97c8ab54 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-msob14de-9f7308ac5d05eba684f0d40e97c8ab54 .special-heading-inner-border{
border-color:#3d3a39;
}
.av-special-heading.av-msob14de-9f7308ac5d05eba684f0d40e97c8ab54 .av-subheading{
font-size:18px;
color:#3d3a39;
}

.flex_cell.av-vldjym-500c315a1d1a3415b57d57f8707cb2e7{
vertical-align:top;
background-color:#fadae3;
background:linear-gradient( to bottom, #fadae3, #fadae3, #f7c6d5 );
}
.responsive #top #wrap_all .flex_cell.av-vldjym-500c315a1d1a3415b57d57f8707cb2e7{
padding:50px 0px 50px 0px !important;
}

#top .av-special-heading.av-ru4q6m-ddd71c9e4f82f57f1d7de4f555120f29{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
font-size:58px;
}
body .av-special-heading.av-ru4q6m-ddd71c9e4f82f57f1d7de4f555120f29 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-ru4q6m-ddd71c9e4f82f57f1d7de4f555120f29 .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-ru4q6m-ddd71c9e4f82f57f1d7de4f555120f29 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-ru4q6m-ddd71c9e4f82f57f1d7de4f555120f29 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-p6enji-74a272dd35751d80652d920bbe1efe41{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#585757;
}
body .av-special-heading.av-p6enji-74a272dd35751d80652d920bbe1efe41 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-p6enji-74a272dd35751d80652d920bbe1efe41 .special-heading-inner-border{
border-color:#585757;
}
.av-special-heading.av-p6enji-74a272dd35751d80652d920bbe1efe41 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-ncwyzy-d4feb682ffd2ecf2f874432b1e3d0982{
height:50px;
}

.av-horizontal-gallery.av-lf7yxa-8bc132b32dacf74e8e84a29370aaae74 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

#top .hr.hr-invisible.av-4gexzi-d2dc8fd583299a2ec5edfd18b9d87ffd{
height:50px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-msob14de-9f7308ac5d05eba684f0d40e97c8ab54 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-ru4q6m-ddd71c9e4f82f57f1d7de4f555120f29 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-msob14de-9f7308ac5d05eba684f0d40e97c8ab54 .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-msob14de-9f7308ac5d05eba684f0d40e97c8ab54 .av-subheading{
font-size:16px;
}

#top #wrap_all .av-special-heading.av-ru4q6m-ddd71c9e4f82f57f1d7de4f555120f29 .av-special-heading-tag{
font-size:0.8em;
}
}
