.avia-section.av-kofu9g-efaadcbd1a8a4f89bb0344e2fe030f73{
background-repeat:no-repeat;
background-image:url(../../2025/09/BKE_slider-1-1.jpg);
background-position:50% 50%;
background-attachment:scroll;
}

#top .av-special-heading.av-gwpnhg-dd04c4f583e6a1aca95661f9d740eb50{
padding-bottom:10px;
color:#6b6491;
font-size:75px;
}
body .av-special-heading.av-gwpnhg-dd04c4f583e6a1aca95661f9d740eb50 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-gwpnhg-dd04c4f583e6a1aca95661f9d740eb50 .av-special-heading-tag{
font-size:75px;
}
.av-special-heading.av-gwpnhg-dd04c4f583e6a1aca95661f9d740eb50 .special-heading-inner-border{
border-color:#6b6491;
}
.av-special-heading.av-gwpnhg-dd04c4f583e6a1aca95661f9d740eb50 .av-subheading{
font-size:18px;
color:#3d3a39;
}

.avia-section.av-fcbwhw-b774d749e79bccddc113a689e00a12da{
background-color:#4c4452;
background-image:unset;
}

#top .flex_column.av-1ckm4k-8e5692668054ed24cb227b3ef95e2a6a{
margin-top:0px;
margin-bottom:200px;
}
.responsive #top #wrap_all .flex_column.av-1ckm4k-8e5692668054ed24cb227b3ef95e2a6a{
margin-top:0px;
margin-bottom:200px;
}

#top .av-special-heading.av-d127tw-e9c182b682d560a6b33fd5e8c868775e{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#eac21d;
font-size:58px;
}
body .av-special-heading.av-d127tw-e9c182b682d560a6b33fd5e8c868775e .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-d127tw-e9c182b682d560a6b33fd5e8c868775e .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-d127tw-e9c182b682d560a6b33fd5e8c868775e .special-heading-inner-border{
border-color:#eac21d;
}
.av-special-heading.av-d127tw-e9c182b682d560a6b33fd5e8c868775e .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-aqpr5g-be1cb4029799f1ca05f454aa28443ad0{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#eac21d;
}
body .av-special-heading.av-aqpr5g-be1cb4029799f1ca05f454aa28443ad0 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-aqpr5g-be1cb4029799f1ca05f454aa28443ad0 .special-heading-inner-border{
border-color:#eac21d;
}
.av-special-heading.av-aqpr5g-be1cb4029799f1ca05f454aa28443ad0 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mg65esx7-452c2dc4bb411b4f385dc430d0490119{
margin:0px 0px 0px 0px;
padding-bottom:10px;
color:#eac21d;
}
body .av-special-heading.av-mg65esx7-452c2dc4bb411b4f385dc430d0490119 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mg65esx7-452c2dc4bb411b4f385dc430d0490119 .special-heading-inner-border{
border-color:#eac21d;
}
.av-special-heading.av-mg65esx7-452c2dc4bb411b4f385dc430d0490119 .av-subheading{
font-size:15px;
}

.avia-section.av-332p7o-f367ffedc468382258a5339d70739584{
background-color:#fbfbfb;
background-image:unset;
}

#top .flex_column.av-2cjmhw-b93932008053836eec0d81f211180d14{
margin-top:-250px;
margin-bottom:-250px;
}
.responsive #top #wrap_all .flex_column.av-2cjmhw-b93932008053836eec0d81f211180d14{
margin-top:-250px;
margin-bottom:-250px;
}

.avia-image-container.av-mfzk2zt6-55d762725ff1dbafe902804688983c48 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-mfzk2zt6-55d762725ff1dbafe902804688983c48 .av-caption-image-overlay-bg{
opacity:0.1;
}

.avia-image-container.av-mg07umlb-448d37f4ea8579f89923139441470a37 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-mg07umlb-448d37f4ea8579f89923139441470a37 .av-caption-image-overlay-bg{
opacity:0.1;
}

.avia-image-container.av-mg07ymih-c39da7a931762e9ed59a9c6141e9c755 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-mg07ymih-c39da7a931762e9ed59a9c6141e9c755 .av-caption-image-overlay-bg{
opacity:0.1;
}

.avia-section.av-mfz3e4kr-4657fd452f153f074cb39ff7affbad22{
background-color:#f7e190;
background-image:unset;
}

#top .flex_column_table.av-equal-height-column-flextable.av-3ldkck-6c5e468313769aad35a5edb26ab61b43{
margin-top:180px;
margin-bottom:0px;
}
.flex_column.av-3ldkck-6c5e468313769aad35a5edb26ab61b43{
width:36.4%;
margin-left:0;
padding:70px 0px 70px 0px;
}
#top .flex_column_table.av-equal-height-column-flextable.av-3ldkck-6c5e468313769aad35a5edb26ab61b43 .av-flex-placeholder{
width:6%;
}

#top .av-special-heading.av-mfz3gz3a-7ce40af4ec8bf2f0b15cc38d57f2c565{
padding-bottom:10px;
}
body .av-special-heading.av-mfz3gz3a-7ce40af4ec8bf2f0b15cc38d57f2c565 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mfz3gz3a-7ce40af4ec8bf2f0b15cc38d57f2c565 .av-subheading{
font-size:15px;
}

#top .flex_column_table.av-equal-height-column-flextable.av-98xmc-ff8f0ba02baa24401fd5623170743aa6{
margin-top:180px;
margin-bottom:0px;
}
.flex_column.av-98xmc-ff8f0ba02baa24401fd5623170743aa6{
width:57.6%;
margin-left:0;
padding:0 0 0 80px;
}
#top .flex_column_table.av-equal-height-column-flextable.av-98xmc-ff8f0ba02baa24401fd5623170743aa6 .av-flex-placeholder{
width:6%;
}

#top .av_textblock_section.av-mfz3j9p2-e1e63c51fec03709c738841ce463476e .avia_textblock{
font-size:18px;
color:#585757;
}

#top .hr.hr-invisible.av-mg06zwto-316906b0832ecfa5f735cb76237d9240{
height:80px;
}

.avia-section.av-4qy9is-a651d65dd6cce40fd2587960fd8b2ae9{
background-color:#fbfbfb;
background-image:unset;
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-mg06ifsh-3bd130c55b95cbbfb62c9b04ddd9b845{
height:100px;
}

#top .flex_column_table.av-equal-height-column-flextable.av-2ur9w4-c6c8f363954c481adf1763c641b2d9b5{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-2ur9w4-c6c8f363954c481adf1763c641b2d9b5{
padding:10vh 0 0 0;
}

#top .hr.hr-invisible.av-mg05rb7o-9486b3cd6766860ea88f3b730baad52a{
height:10px;
}

#top .flex_column_table.av-equal-height-column-flextable.av-29dt9w-ed2517c910dabce347a60a9f953156c0{
margin-top:0px;
margin-bottom:0px;
}

#top .av-special-heading.av-mfz4q4d4-e26efa931d01c06d9c41a26353d8d7dd{
padding-bottom:10px;
color:#0e6f30;
font-size:58px;
}
body .av-special-heading.av-mfz4q4d4-e26efa931d01c06d9c41a26353d8d7dd .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mfz4q4d4-e26efa931d01c06d9c41a26353d8d7dd .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mfz4q4d4-e26efa931d01c06d9c41a26353d8d7dd .special-heading-inner-border{
border-color:#0e6f30;
}
.av-special-heading.av-mfz4q4d4-e26efa931d01c06d9c41a26353d8d7dd .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-mfz4u9eg-5805670d5d9c2092629788243ddc0ffd{
padding-bottom:10px;
color:#0e6f30;
font-size:36px;
}
body .av-special-heading.av-mfz4u9eg-5805670d5d9c2092629788243ddc0ffd .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mfz4u9eg-5805670d5d9c2092629788243ddc0ffd .av-special-heading-tag{
font-size:36px;
}
.av-special-heading.av-mfz4u9eg-5805670d5d9c2092629788243ddc0ffd .special-heading-inner-border{
border-color:#0e6f30;
}
.av-special-heading.av-mfz4u9eg-5805670d5d9c2092629788243ddc0ffd .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-2aubpg-30de58aeeb21e4dd995f50ee1934c1de{
height:100px;
}

.flex_cell.av-9t6en8-522d157d803c39ee424e802f4d0bf958{
vertical-align:bottom;
background-color:#4974b9;
}

#top .av-special-heading.av-mfz6hj94-06686e292812663618b528ecec3d4a4c{
padding-bottom:0px;
color:#f5dd61;
font-size:58px;
}
body .av-special-heading.av-mfz6hj94-06686e292812663618b528ecec3d4a4c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mfz6hj94-06686e292812663618b528ecec3d4a4c .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mfz6hj94-06686e292812663618b528ecec3d4a4c .special-heading-inner-border{
border-color:#f5dd61;
}
.av-special-heading.av-mfz6hj94-06686e292812663618b528ecec3d4a4c .av-subheading{
font-size:28px;
}

#top .hr.hr-invisible.av-mg0fr0ln-3e9a52b817e55848792a34e35561ed8a{
margin-top:-60px;
height:1px;
}

#top .av-special-heading.av-mg0fp2d6-0624539ceffcd8cb09625ca3a4481c5b{
padding-bottom:0px;
color:#f5dd61;
font-size:28px;
}
body .av-special-heading.av-mg0fp2d6-0624539ceffcd8cb09625ca3a4481c5b .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mg0fp2d6-0624539ceffcd8cb09625ca3a4481c5b .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-mg0fp2d6-0624539ceffcd8cb09625ca3a4481c5b .special-heading-inner-border{
border-color:#f5dd61;
}
.av-special-heading.av-mg0fp2d6-0624539ceffcd8cb09625ca3a4481c5b .av-subheading{
font-size:28px;
}

#top .av_textblock_section.av-2d6zjo-93c0bee3345cc4c174ac825591ed75b5 .avia_textblock{
font-size:18px;
color:#f5dd61;
}

.flex_cell.av-mfz6kvgn-6494a608d91bae43cce7a6366a47005f{
vertical-align:bottom;
background-color:#f5dd61;
}

#top .av-special-heading.av-mg0fv9ej-0ad2259cc753a52911f655d0dd6e863c{
padding-bottom:0px;
color:#4974b9;
font-size:58px;
}
body .av-special-heading.av-mg0fv9ej-0ad2259cc753a52911f655d0dd6e863c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mg0fv9ej-0ad2259cc753a52911f655d0dd6e863c .av-special-heading-tag{
font-size:58px;
}
.av-special-heading.av-mg0fv9ej-0ad2259cc753a52911f655d0dd6e863c .special-heading-inner-border{
border-color:#4974b9;
}
.av-special-heading.av-mg0fv9ej-0ad2259cc753a52911f655d0dd6e863c .av-subheading{
font-size:28px;
}

#top .hr.hr-invisible.av-2n9fdw-e0ac861e62cedcad82507dc43118f4fb{
margin-top:-60px;
height:1px;
}

#top .av-special-heading.av-mg0fvfi5-232ce3b221713757f6edac13ce80f109{
padding-bottom:0px;
color:#4974b9;
font-size:28px;
}
body .av-special-heading.av-mg0fvfi5-232ce3b221713757f6edac13ce80f109 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mg0fvfi5-232ce3b221713757f6edac13ce80f109 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-mg0fvfi5-232ce3b221713757f6edac13ce80f109 .special-heading-inner-border{
border-color:#4974b9;
}
.av-special-heading.av-mg0fvfi5-232ce3b221713757f6edac13ce80f109 .av-subheading{
font-size:28px;
}

#top .av_textblock_section.av-mfz6key8-aa7e9cc0bed7356b1098a77bb4dabd40 .avia_textblock{
font-size:18px;
color:#4974b9;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-gwpnhg-dd04c4f583e6a1aca95661f9d740eb50 .av-special-heading-tag{
font-size:0.8em;
}

#top .flex_column.av-1ckm4k-8e5692668054ed24cb227b3ef95e2a6a{
margin-top:0px;
margin-bottom:50px;
}
.responsive #top #wrap_all .flex_column.av-1ckm4k-8e5692668054ed24cb227b3ef95e2a6a{
margin-top:0px;
margin-bottom:50px;
}

#top #wrap_all .av-special-heading.av-d127tw-e9c182b682d560a6b33fd5e8c868775e .av-special-heading-tag{
font-size:40px;
}

#top .flex_column.av-2cjmhw-b93932008053836eec0d81f211180d14{
margin-top:-100px;
margin-bottom:-100px;
}
.responsive #top #wrap_all .flex_column.av-2cjmhw-b93932008053836eec0d81f211180d14{
margin-top:-100px;
margin-bottom:-100px;
}

.flex_column.av-3ldkck-6c5e468313769aad35a5edb26ab61b43{
padding:30px 0px 30px 0px;
}

#top #wrap_all .av-special-heading.av-mfz3gz3a-7ce40af4ec8bf2f0b15cc38d57f2c565 .av-special-heading-tag{
font-size:25px;
}

.flex_column.av-98xmc-ff8f0ba02baa24401fd5623170743aa6{
padding:0 0 0 30px;
}

.avia-section.av-4qy9is-a651d65dd6cce40fd2587960fd8b2ae9{
margin-top:-50px;
margin-bottom:-50px;
}

#top #wrap_all .av-special-heading.av-mfz4q4d4-e26efa931d01c06d9c41a26353d8d7dd .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mfz4u9eg-5805670d5d9c2092629788243ddc0ffd .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mfz6hj94-06686e292812663618b528ecec3d4a4c .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mg0fp2d6-0624539ceffcd8cb09625ca3a4481c5b .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mg0fv9ej-0ad2259cc753a52911f655d0dd6e863c .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mg0fvfi5-232ce3b221713757f6edac13ce80f109 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-gwpnhg-dd04c4f583e6a1aca95661f9d740eb50 .av-special-heading-tag{
font-size:26px;
}
.av-special-heading.av-gwpnhg-dd04c4f583e6a1aca95661f9d740eb50 .av-subheading{
font-size:16px;
}

#top .flex_column.av-1ckm4k-8e5692668054ed24cb227b3ef95e2a6a{
margin-top:0px;
margin-bottom:50px;
}
.responsive #top #wrap_all .flex_column.av-1ckm4k-8e5692668054ed24cb227b3ef95e2a6a{
margin-top:0px;
margin-bottom:50px;
}

#top #wrap_all .av-special-heading.av-d127tw-e9c182b682d560a6b33fd5e8c868775e .av-special-heading-tag{
font-size:40px;
}

#top .flex_column.av-2cjmhw-b93932008053836eec0d81f211180d14{
margin-top:-100px;
margin-bottom:-100px;
}
.responsive #top #wrap_all .flex_column.av-2cjmhw-b93932008053836eec0d81f211180d14{
margin-top:-100px;
margin-bottom:-100px;
}

#top .flex_column_table.av-equal-height-column-flextable.av-3ldkck-6c5e468313769aad35a5edb26ab61b43{
margin-top:0px;
margin-bottom:70px;
}
.flex_column.av-3ldkck-6c5e468313769aad35a5edb26ab61b43{
padding:30px 0px 30px 0px;
}

#top #wrap_all .av-special-heading.av-mfz3gz3a-7ce40af4ec8bf2f0b15cc38d57f2c565 .av-special-heading-tag{
font-size:25px;
}

#top .flex_column_table.av-equal-height-column-flextable.av-98xmc-ff8f0ba02baa24401fd5623170743aa6{
margin-top:0px;
margin-bottom:70px;
}
.flex_column.av-98xmc-ff8f0ba02baa24401fd5623170743aa6{
padding:0 0 0 30px;
}

.avia-section.av-4qy9is-a651d65dd6cce40fd2587960fd8b2ae9{
margin-top:-50px;
margin-bottom:-50px;
}

#top #wrap_all .av-special-heading.av-mfz4q4d4-e26efa931d01c06d9c41a26353d8d7dd .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mfz4u9eg-5805670d5d9c2092629788243ddc0ffd .av-special-heading-tag{
font-size:0.8em;
}

.responsive #top #wrap_all .flex_cell.av-9t6en8-522d157d803c39ee424e802f4d0bf958{
padding:100px 30px 50px 30px !important;
}

#top #wrap_all .av-special-heading.av-mfz6hj94-06686e292812663618b528ecec3d4a4c .av-special-heading-tag{
font-size:0.8em;
}
.av-special-heading.av-mfz6hj94-06686e292812663618b528ecec3d4a4c .av-subheading{
font-size:20px;
}

#top #wrap_all .av-special-heading.av-mg0fp2d6-0624539ceffcd8cb09625ca3a4481c5b .av-special-heading-tag{
font-size:0.8em;
}
.av-special-heading.av-mg0fp2d6-0624539ceffcd8cb09625ca3a4481c5b .av-subheading{
font-size:20px;
}

#top #wrap_all .av-special-heading.av-mg0fv9ej-0ad2259cc753a52911f655d0dd6e863c .av-special-heading-tag{
font-size:0.8em;
}
.av-special-heading.av-mg0fv9ej-0ad2259cc753a52911f655d0dd6e863c .av-subheading{
font-size:20px;
}

#top #wrap_all .av-special-heading.av-mg0fvfi5-232ce3b221713757f6edac13ce80f109 .av-special-heading-tag{
font-size:0.8em;
}
.av-special-heading.av-mg0fvfi5-232ce3b221713757f6edac13ce80f109 .av-subheading{
font-size:20px;
}
}
